.Input {
  box-sizing: border-box;
  background-color: var(--rvr-white);
  border-radius: var(--rvr-border-radius);
  border: var(--rvr-border-width-md) solid var(--rvr-gray-60);
  color: var(--rvr-gray-90);
  font-family: var(--rvr-base-font-family);
  font-size: var(--rvr-font-size-md);
  line-height: var(--rvr-line-height-lg);
  padding: var(--rvr-space-bordered-sm);
  height: calc(var(--rvr-line-height-lg) + 2 * var(--rvr-space-sm));
  transition:
    var(--rvr-transition-duration-fast) var(--rvr-linear) background-color,
    var(--rvr-transition-duration-fast) var(--rvr-linear) border-color,
    var(--rvr-transition-duration-fast) var(--rvr-linear) box-shadow,
    var(--rvr-transition-duration-fast) var(--rvr-linear) color;
}

.Input[type="time"] {
  /*
    Time pickers have an extra 1px padding in Chrome that throws off the height.
  */
  height: calc(var(--rvr-line-height-lg) + 2 * var(--rvr-space-sm));
}

.Input::placeholder {
  color: var(--rvr-gray-60);
}

.Input:hover {
  background-color: var(--rvr-gray-10);
  border-color: var(--rvr-gray-80);
}

.Input:hover::placeholder {
  color: var(--rvr-gray-80);
}

.Input.focus,
.Input:focus {
  border-color: var(--rvr-color-primary);
  box-shadow: 0 0 4px var(--rvr-color-primary);
  outline: 0 none;
}

.Input:active {
  background-color: var(--rvr-gray-10);
  border-color: var(--rvr-gray-80);
}

.Input:active::placeholder {
  color: var(--rvr-gray-80);
}

.Input:disabled,
.Input.disabled {
  border-color: var(--rvr-color-disabled);
  color: var(--rvr-color-disabled);
  cursor: default;
}

.Input:disabled::placeholder,
.Input.disabled::placeholder {
  color: var(--rvr-gray-60);
}

.Input:invalid,
.Input.invalid {
  background-color: var(--rvr-color-danger-lite);
  border-color: var(--rvr-color-danger);
  color: var(--rvr-color-danger);
}
