.Checkbox {
  position: relative;
  display: inline-block;
  height: var(--rvr-checkbox-size);
  width: var(--rvr-checkbox-size);
}

.svg {
  transition: var(--rvr-transition-duration-fast) var(--rvr-linear) box-shadow;
  display: block;
  height: 100%;
  width: 100%;
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 1;
  display: block;
}

.outline {
  fill: var(--rvr-color-font);
  transition: var(--rvr-transition-duration-fast) var(--rvr-linear) fill;
}

.inner {
  fill: var(--rvr-white);
}

.check,
.dash {
  display: none;
}

input:checked + .svg .outline {
  fill: var(--rvr-color-primary);
}

input:hover + .svg .outline {
  fill: var(--rvr-color-primary-hover);
}

input:focus + .svg {
  outline: 0 transparent none;
  box-shadow:
    0px 0px 0px 2px var(--rvr-white),
    0px 0px 1px 3px var(--rvr-color-primary-hover),
    0px 0px 8px 2px var(--rvr-color-primary-hover);
}

input:checked + .svg .inner {
  display: none;
}

input:checked + .svg .check,
.indeterminate + .svg .dash {
  display: initial;
  fill: var(--rvr-white);
}

.Checkbox.disabled .svg {
  box-shadow: none;
}

input:disabled + .svg .outline,
.Checkbox.disabled .svg .outline {
  fill: var(--rvr-color-disabled);
  box-shadow: none;
}
