.Button {
  -webkit-appearance: none;
  background: transparent none;
  border: var(--rvr-border-width-md) solid transparent;
  border-radius: 9999px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: var(--rvr-font-size-md);
  line-height: var(--rvr-line-height-sm);
  transition:
    0.2s linear box-shadow,
    0.2s linear background-color,
    0.2s linear border-color,
    0.2s linear color;
  display: inline-flex;
  flex-flow: row nowrap;
  align-content: center;
  align-items: center;
  text-decoration: none;
}

.buttonBody {
  flex: 1 1 auto;
  min-width: 0;
}

/* Sizes */

.sm {
  padding: var(--rvr-space-bordered-xs) var(--rvr-space-bordered-sm);
}

.md {
  padding: var(--rvr-space-bordered-sm) var(--rvr-space-bordered-md);
}

.lg {
  padding: var(--rvr-space-bordered-md) var(--rvr-space-bordered-lg);
}

/* Circle */

.circle {
  display: inline-block;
  text-align: center;
}

.sm.circle {
  max-height:
    calc(
      var(--rvr-space-bordered-xs) * 2 + var(--rvr-line-height-md)
    );
  max-width: calc(var(--rvr-space-bordered-xs) * 2 + var(--rvr-line-height-md));
  height: calc(var(--rvr-space-bordered-xs) * 2 + var(--rvr-line-height-md));
  width: calc(var(--rvr-space-bordered-xs) * 2 + var(--rvr-line-height-md));
  padding: var(--rvr-space-bordered-xs);
}

.md.circle {
  max-height:
    calc(
      var(--rvr-space-bordered-sm) * 2 + var(--rvr-line-height-md)
    );
  max-width: calc(var(--rvr-space-bordered-sm) * 2 + var(--rvr-line-height-md));
  height: calc(var(--rvr-space-bordered-sm) * 2 + var(--rvr-line-height-md));
  width: calc(var(--rvr-space-bordered-sm) * 2 + var(--rvr-line-height-md));
  padding: var(--rvr-space-bordered-sm);
}

.lg.circle {
  max-height:
    calc(
      var(--rvr-space-bordered-md) * 2 + var(--rvr-line-height-md)
    );
  max-width: calc(var(--rvr-space-bordered-md) * 2 + var(--rvr-line-height-md));
  height: calc(var(--rvr-space-bordered-md) * 2 + var(--rvr-line-height-md));
  width: calc(var(--rvr-space-bordered-md) * 2 + var(--rvr-line-height-md));
  padding: var(--rvr-space-bordered-md);
}

/* States */

.Button.focus,
.Button:focus {
  outline: 0 transparent none;
  box-shadow:
    0px 0px 0px 2px var(--rvr-btn-focus-outline-offset-color),
    0px 0px 8px 2px var(--rvr-btn-focus-outline-color);
}

.Button.disabled,
.Button:disabled,
.Button[disabled] {
  cursor: default;
  color: var(--rvr-btn-color-disabled);
  background-color: var(--rvr-btn-bg-color-disabled) !important;
  border-color: var(--rvr-btn-border-color-disabled) !important;
}

/* Special flavors for outlined (hollow / inverted) buttons */

.outline.disabled,
.outline:disabled,
.outline[disabled] {
  opacity: 0.5;
  color: var(--rvr-btn-color-outlined-disabled) !important;
}

.outline.focus,
.outline:focus {
  outline: 0 transparent none;
  box-shadow:
    0px 0px 2px 2px var(--rvr-btn-outline-color-outlined);
}

/* Button level colors */

.primary,
.primary:link,
.primary:visited {
  color: var(--rvr-btn-color-primary);
  background-color: var(--rvr-btn-bg-color-primary);
  border-color: var(--rvr-btn-border-color-primary);
}

.primary.focus,
.primary:focus {
  background-color: var(--rvr-btn-color-primary-focus);
  border-color: var(--rvr-btn-color-primary-focus);
}

.primary.active,
.primary:active,
.primary.hover,
.primary:hover {
  background-color: var(--rvr-btn-bg-color-primary-active);
  border-color: var(--rvr-btn-border-color-primary-active);
}

.primary-alt,
.primary-alt:link,
.primary-alt:visited {
  color: var(--rvr-btn-color-primary-alt);
  background-color: var(--rvr-btn-bg-color-primary-alt);
  border-color: var(--rvr-btn-border-color-primary-alt);
}

.primary-alt.active,
.primary-alt:active,
.primary-alt.hover,
.primary-alt:hover {
  background-color: var(--rvr-btn-bg-color-primary-alt-active);
  border-color: var(--rvr-btn-border-color-primary-alt-active);
}

.secondary,
.secondary:link,
.secondary:visited {
  color: var(--rvr-btn-color-secondary);
  background-color: var(--rvr-btn-bg-color-secondary);
  border-color: var(--rvr-btn-border-color-secondary);
}

.secondary.active,
.secondary:active,
.secondary.hover,
.secondary:hover {
  color: var(--rvr-btn-color-secondary-active);
  background-color: var(--rvr-btn-bg-color-secondary-active);
  border-color: var(--rvr-btn-border-color-secondary-active);
}

.tertiary,
.tertiary:link,
.tertiary:visited {
  color: var(--rvr-btn-color-tertiary);
  background-color: var(--rvr-btn-bg-color-tertiary);
  border-color: var(--rvr-btn-border-color-tertiary);
}

.tertiary.active,
.tertiary:active,
.tertiary.hover,
.tertiary:hover {
  color: var(--rvr-btn-color-tertiary-active);
  background-color: var(--rvr-btn-bg-color-tertiary-active);
  border-color: var(--rvr-btn-border-color-tertiary-active);
}

.tertiary.disabled,
.tertiary:disabled,
.tertiary[disabled] {
  color: var(--rvr-btn-unfilled-color-disabled) !important;
  background-color: var(--rvr-btn-unfilled-bg-color-disabled) !important;
  border-color: var(--rvr-btn-unfilled-border-color-disabled) !important;
}

.success,
.success:link,
.success:visited {
  color: var(--rvr-btn-color-success);
  background-color: var(--rvr-btn-bg-color-success);
  border-color: var(--rvr-btn-border-color-success);
}

.success.active,
.success:active,
.success.hover,
.success:hover {
  background-color: var(--rvr-btn-bg-color-success-active);
  border-color: var(--rvr-btn-border-color-success-active);
}

.danger,
.danger:link,
.danger:visited {
  color: var(--rvr-btn-color-danger);
  background-color: var(--rvr-btn-bg-color-danger);
  border-color: var(--rvr-btn-border-color-danger);
}

.danger.active,
.danger:active,
.danger.hover,
.danger:hover {
  background-color: var(--rvr-btn-bg-color-danger-active);
  border-color: var(--rvr-btn-border-color-danger-active);
}

/* Text-style (unbordered, no background) buttons */

.link,
.link:link,
.link:visited {
  color: var(--rvr-btn-color-link);
  background-color: var(--rvr-btn-bg-color-link);
  border-color: var(--rvr-btn-border-color-link);
}

.link.active,
.link:active,
.link.hover,
.link:hover {
  color: var(--rvr-btn-color-link-active);
}

.text,
.text:link,
.text:visited {
  color: var(--rvr-btn-color-text);
}

.text.active,
.text:active,
.text.hover,
.text:hover {
  color: var(--rvr-btn-color-text-active);
}

.as-text.focus,
.as-text:focus {
  outline: none;
  box-shadow: none;
}

.as-text.focus-visible ,
.as-text:focus-visible  {
  outline: 5px auto var(--rvr-btn-focus-outline-color);
  box-shadow: none;
}

.as-text.disabled,
.as-text:disabled,
.as-text[disabled] {
  color: var(--rvr-btn-as-text-color-disabled) !important;
  background-color: var(--rvr-btn-as-text-bg-color-disabled) !important;
  border-color: var(--rvr-btn-as-text-border-color-disabled) !important;
}

/* Special flavors for outline buttons */

.primary.outline,
.primary.outline:link,
.primary.outline:visited {
  color: var(--rvr-btn-color-primary-outlined);
  background-color: transparent;
  border-color: var(--rvr-btn-color-primary-outlined);
}

.primary.outline.focus,
.primary.outline:focus {
  background-color: transparent;
}

.primary.outline.active,
.primary.outline:active,
.primary.outline.hover,
.primary.outline:hover {
  color: var(--rvr-btn-color-primary-outlined-active);
  background-color: transparent;
  border-color: var(--rvr-btn-color-primary-outlined-active);
}

.primary.outline.disabled,
.primary.outline:disabled,
.primary.outline[disabled] {
  background-color: var(--rvr-btn-color-primary-outlined) !important;
  border-color: var(--rvr-btn-color-primary-outlined) !important;
}

.primary-alt.outline,
.primary-alt.outline:link,
.primary-alt.outline:visited {
  color: var(--rvr-btn-color-primary-alt-outlined);
  background-color: transparent;
  border-color: var(--rvr-btn-color-primary-alt-outlined);
}

.primary-alt.outline.active,
.primary-alt.outline:active,
.primary-alt.outline.hover,
.primary-alt.outline:hover {
  color: var(--rvr-btn-color-primary-alt-outlined-active);
  background-color: transparent;
  border-color: var(--rvr-btn-color-primary-alt-outlined-active);
}

.primary-alt.outline.disabled,
.primary-alt.outline:disabled,
.primary-alt.outline[disabled] {
  background-color: var(--rvr-btn-color-primary-alt-outlined) !important;
  border-color: var(--rvr-btn-color-primary-alt-outlined) !important;
}

.secondary.outline,
.secondary.outline:link,
.secondary.outline:visited {
  color: var(--rvr-btn-color-secondary-outlined);
  background-color: transparent;
  border-color: var(--rvr-btn-color-secondary-outlined);
}

.secondary.outline.active,
.secondary.outline:active,
.secondary.outline.hover,
.secondary.outline:hover {
  color: var(--rvr-btn-color-secondary-outlined-active);
  background-color: transparent;
  border-color: var(--rvr-btn-color-secondary-outlined-active);
}

.secondary.outline.disabled,
.secondary.outline:disabled,
.secondary.outline[disabled] {
  background-color: var(--rvr-btn-color-secondary-outlined) !important;
  border-color: var(--rvr-btn-color-secondary-outlined) !important;
}

.tertiary.outline,
.tertiary.outline:link,
.tertiary.outline:visited {
  color: var(--rvr-btn-color-tertiary-outlined);
  background-color: transparent;
  border-color: var(--rvr-btn-color-tertiary-outlined);
}

.tertiary.outline.active,
.tertiary.outline:active,
.tertiary.outline.hover,
.tertiary.outline:hover {
  color: var(--rvr-btn-color-tertiary-outlined-active);
  background-color: transparent;
  border-color: var(--rvr-btn-color-tertiary-outlined-active);
}

.tertiary.outline.disabled,
.tertiary.outline:disabled,
.tertiary.outline[disabled] {
  background-color: var(--rvr-btn-color-tertiary-outlined) !important;
  border-color: var(--rvr-btn-color-tertiary-outlined) !important;
}

.success.outline,
.success.outline:link,
.success.outline:visited {
  color: var(--rvr-btn-color-success-outlined);
  background-color: transparent;
  border-color: var(--rvr-btn-color-success-outlined);
}

.success.outline.active,
.success.outline:active,
.success.outline.hover,
.success.outline:hover {
  color: var(--rvr-btn-color-success-outlined-active);
  background-color: transparent;
  border-color: var(--rvr-btn-color-success-outlined-active);
}

.success.outline.disabled,
.success.outline:disabled,
.success.outline[disabled] {
  background-color: var(--rvr-btn-color-success-outlined) !important;
  border-color: var(--rvr-btn-color-success-outlined) !important;
}

.danger.outline,
.danger.outline:link,
.danger.outline:visited {
  color: var(--rvr-btn-color-danger-outlined);
  background-color: transparent;
  border-color: var(--rvr-btn-color-danger-outlined);
}

.danger.outline.active,
.danger.outline:active,
.danger.outline.hover,
.danger.outline:hover {
  color: var(--rvr-btn-color-danger-outlined-active);
  background-color: transparent;
  border-color: var(--rvr-btn-color-danger-outlined-active);
}

.danger.outline.disabled,
.danger.outline:disabled,
.danger.outline[disabled] {
  background-color: var(--rvr-btn-color-danger-outlined) !important;
  border-color: var(--rvr-btn-color-danger-outlined) !important;
}

.outline.link,
.outline.link:link,
.outline.link:visited {
  color: var(--rvr-btn-color-link-outlined);
  background-color: var(--rvr-btn-bg-color-link);
  border-color: var(--rvr-btn-border-color-link);
}

.outline.link.active,
.outline.link:active,
.outline.link.hover,
.outline.link:hover {
  color: var(--rvr-btn-color-link-outlined-active);
}

.outline.text,
.outline.text:link,
.outline.text:visited {
  color: var(--rvr-btn-color-text-outlined);
}

.outline.text.active,
.outline.text:active,
.outline.text.hover,
.outline.text:hover {
  color: var(--rvr-btn-color-text-outlined-active);
}

.outline.as-text.focus,
.outline.as-text:focus {
  outline: 2px solid var(--rvr-btn-outline-color-as-text-outlined-focus);
  box-shadow: none;
}

.outline.as-text.disabled,
.outline.as-text:disabled,
.outline.as-text[disabled] {
  color: var(--rvr-btn-color-as-text-outlined-disabled) !important;
  background-color: var(--rvr-btn-as-text-bg-color-disabled) !important;
  border-color: var(--rvr-btn-as-text-border-color-disabled) !important;
}
