.Button {
  -webkit-appearance: none;
  background: transparent none;
  border: var(--rvr-border-width-md) solid transparent;
  font-size: var(--rvr-font-size-md);
  line-height: var(--rvr-line-height-sm);
  transition: 0.2s linear background-color, 0.2s linear border-color, 0.2s linear color;
  display: inline-flex;
  flex-flow: row nowrap;
  align-content: center;
}

/* Sizes */

.sm {
  padding: var(--rvr-space-bordered-xs) var(--rvr-space-bordered-sm);
  border-radius: calc(var(--rvr-space-bordered-sm) + (var(--rvr-line-height-md) / 2));
}

.md {
  padding: var(--rvr-space-bordered-sm) var(--rvr-space-bordered-md);
  border-radius: calc(var(--rvr-space-bordered-md) + (var(--rvr-line-height-md) / 2));
}

.lg {
  padding: var(--rvr-space-bordered-md) var(--rvr-space-bordered-lg);
  border-radius: calc(var(--rvr-space-bordered-lg) + (var(--rvr-line-height-md) / 2));
}

/* Button level colors */

.primary,
.primary:link,
.primary:visited {
  color: var(--rvr-color-primary);
  background-color: var(--rvr-bg-color-primary);
  border-color: var(--rvr-border-color-primary);
}

.primary:active,
.primary:hover,
.primary:focus {
  color: var(--rvr-color-primary-active);
  background-color: var(--rvr-bg-color-primary-active);
  border-color: var(--rvr-border-color-primary-active);
}

.primary:disabled,
.primary[disabled] {
  color: var(--rvr-color-primary-disabled);
  background-color: var(--rvr-bg-color-primary-disabled);
  border-color: var(--rvr-border-color-primary-disabled);
}

.teal,
.teal:link,
.teal:visited {
  color: var(--rvr-color-teal);
  background-color: var(--rvr-bg-color-teal);
  border-color: var(--rvr-border-color-teal);
}

.teal:active,
.teal:hover,
.teal:focus {
  color: var(--rvr-color-teal-active);
  background-color: var(--rvr-bg-color-teal-active);
  border-color: var(--rvr-border-color-teal-active);
}

.teal:disabled,
.teal[disabled] {
  color: var(--rvr-color-teal-disabled);
  background-color: var(--rvr-bg-color-teal-disabled);
  border-color: var(--rvr-border-color-teal-disabled);
}

.secondary,
.secondary:link,
.secondary:visited {
  color: var(--rvr-color-secondary);
  background-color: var(--rvr-bg-color-secondary);
  border-color: var(--rvr-border-color-secondary);
}

.secondary:active,
.secondary:hover,
.secondary:focus {
  color: var(--rvr-color-secondary-active);
  background-color: var(--rvr-bg-color-secondary-active);
  border-color: var(--rvr-border-color-secondary-active);
}

.secondary:disabled,
.secondary[disabled] {
  color: var(--rvr-color-secondary-disabled);
  background-color: var(--rvr-bg-color-secondary-disabled);
  border-color: var(--rvr-border-color-secondary-disabled);
}

.success,
.success:link,
.success:visited {
  color: var(--rvr-color-success);
  background-color: var(--rvr-bg-color-success);
  border-color: var(--rvr-border-color-success);
}

.success:active,
.success:hover,
.success:focus {
  color: var(--rvr-color-success-active);
  background-color: var(--rvr-bg-color-success-active);
  border-color: var(--rvr-border-color-success-active);
}

.success:disabled,
.success[disabled] {
  color: var(--rvr-color-success-disabled);
  background-color: var(--rvr-bg-color-success-disabled);
  border-color: var(--rvr-border-color-success-disabled);
}

.tertiary,
.tertiary:link,
.tertiary:visited {
  color: var(--rvr-color-tertiary);
  background-color: var(--rvr-bg-color-tertiary);
  border-color: var(--rvr-border-color-tertiary);
}

.tertiary:active,
.tertiary:hover,
.tertiary:focus {
  color: var(--rvr-color-tertiary-active);
  background-color: var(--rvr-bg-color-tertiary-active);
  border-color: var(--rvr-border-color-tertiary-active);
}

.tertiary:disabled,
.tertiary[disabled] {
  color: var(--rvr-color-tertiary-disabled);
  background-color: var(--rvr-bg-color-tertiary-disabled);
  border-color: var(--rvr-border-color-tertiary-disabled);
}

/* Dark mode */

.darkMode,
.darkMode:link,
.darkMode:visited {
  color: var(--rvr-color-darkMode);
  background-color: var(--rvr-bg-color-darkMode);
  border-color: var(--rvr-border-color-darkMode);
}

.darkMode:active,
.darkMode:hover,
.darkMode:focus {
  color: var(--rvr-color-darkMode-active);
  background-color: var(--rvr-bg-color-darkMode-active);
  border-color: var(--rvr-border-color-darkMode-active);
}

.darkMode:disabled,
.darkMode[disabled] {
  color: var(--rvr-color-darkMode-disabled);
  background-color: var(--rvr-bg-color-darkMode-disabled);
  border-color: var(--rvr-border-color-darkMode-disabled);
}
