.Paper {
  background-color: var(--rvr-white);
  border-radius: 2px;
  box-shadow: var(--rvr-box-shadow);
  color: var(--rvr-gray);
  margin: 0;
  padding: var(--rvr-space-lg);
}

.flat {
  box-shadow: none;
}

.squared {
  border-radius: 0;
}
