.BarStat {
  display: flex;
}

.Bar {
  background-color: var(--rvr-gray-20);
  border-radius: 9999px;
  display: flex;
  height: 10px;
  margin: 5px 20px 5px 0;
  overflow: hidden;
  width: 100%;
  flex-grow: 1;
}

.Fill {
  background-color: var(--rvr-gray-40);
  border-radius: 0;
  height: 100%;
  transition: width 1s ease;
}

.label {
  color: var(--rvr-color-font);
  width: 35px;
}
