.BarStat {
  display: flex;
}

.bar {
  background-color: var(--rvr-gray-20);
  height: 10px;
  margin: 5px 20px 5px 0;
  width: 100%;
  flex-grow: 1;
}

.fill {
  background-color: var(--rvr-gray-40);
  height: 100%;
  transition: width 1s ease;
}

.label {
  color: var(--rvr-color-font);
  width: 35px;
}
