.EasyDropdown {
  display: inline-block;
}

.group {
  border-top: var(--rvr-border-width-md) solid var(--rvr-gray-20);
}

.group:first-child {
  border-top-width: 0;
}

.single {
  border-top: var(--rvr-border-width-md) solid var(--rvr-gray-20);
}

.single:first-child {
  border-top-width: 0;
}

.single + .single {
  border-top-width: 0;
}
