.icon {
  margin-right: var(--rvr-space-bordered-sm);
}

.icon:not(:last-child) {
  margin-right: 0;
}

.toggle {
  display: block;
  padding: 3px;
}

.menu {
  max-height: calc(var(--rvr-space-lg) * 2 * 5.5); /* --rvr-space-lg * 2 is the height of one row. */
}

.menuItem {
  text-align: right;
  white-space: nowrap;
}
