.icon {
  margin-right: var(--rvr-space-bordered-sm);
}

.icon:not(:last-child) {
  margin-right: 0;
}

.toggle {
  display: block;
  padding: 3px;
}

.menu {
  --item-height: calc(var(--rvr-space-lg) * 2);
  --visible-items-before-scrolling: 5.5;
  max-height: calc(var(--item-height) * var(--visible-items-before-scrolling));
}

.menuItem {
  text-align: right;
  white-space: nowrap;
}
