.icon {
  margin-right: var(--rvr-space-bordered-sm);
  color: var(--rvr-btn-color-text);
}

.icon:not(:last-child) {
  margin-right: 0;
}

.dropdownToggle {
  display: block;
  padding: 3px;
}

.menuItem {
  text-align: right;
  white-space: nowrap;
}
