/* DONE */
:root {
  /* Palette */
  --rvr-white: #fff;
  --rvr-black: #000;
  --rvr-blue: #0092c2;
  --rvr-blue-lite-1: #0ba5d6;
  --rvr-blue-lite-2: #c9e8f2;
  --rvr-blue-lite-3: #e3f6fc;
  --rvr-blue-alt: #00607f;
  --rvr-blue-alt-lite-1: #007499;
  --rvr-blue-alt-2-dark-1: #0177b2;
  --rvr-blue-alt-2: #0195de;
  --rvr-blue-alt-2-lite-1: #65c1ea;
  --rvr-gray-90: #34404b;
  --rvr-gray-80: #677078;
  --rvr-gray-60: #9aa0a5;
  --rvr-gray-40: #cccfd2;
  --rvr-gray-20: #ebeced;
  --rvr-gray-10: #f7f7f7;
  --rvr-red: #de4543;
  --rvr-red-lite-1: #fa6866;
  --rvr-red-lite-2: #feebea;
  --rvr-red-alt-dark-1: #cb4e55;
  --rvr-red-alt: #ff626b;
  --rvr-red-alt-lite-1: #ffa2a7;
  --rvr-yellow: #f8ca00;
  --rvr-yellow-lite-2: #fef8d3;
  --rvr-green: #63bf52;
  --rvr-green-lite-1: #87cc7b;
  --rvr-green-lite-2: #e9fcf6;
  --rvr-green-alt-dark-1: #009e71;
  --rvr-green-alt: #00c68d;
  --rvr-green-alt-lite-1: #a1f0d7;
  --rvr-orange: #e35207;
  --rvr-orange-lite-1: #fc5b08;
  --rvr-teal: #00837e;
  --rvr-teal-lite-1: #00a19b;
  --rvr-teal-lite-2: #43bfb7;
  --rvr-teal-lite-3: #49d1c8;
  --rvr-teal-alt-dark-1: #2dafac;
  --rvr-teal-alt: #39dbd8;
  --rvr-teal-alt-lite-1: #89ebe8;
  --rvr-hot-pink: #fc356a;
  --rvr-magenta-dark-1: #cb509e;
  --rvr-magenta: #ff64c6;
  --rvr-magenta-lite-1: #ffa4de;
  --rvr-purple-dark-1: #6b5da3;
  --rvr-purple: #8575cd;
  --rvr-purple-lite-1: #b5ade1;
  --rvr-yellow-alt-dark-1: #fdd500;
  --rvr-yellow-alt: #fde568;
  --rvr-yellow-alt-lite-1: #fdf5d0;

  /* Semantic-ish */
  --rvr-color-primary: var(--rvr-blue);
  --rvr-color-primary-hover: var(--rvr-blue-lite-1);
  --rvr-color-danger: var(--rvr-red);
  --rvr-color-danger-hover: var(--rvr-red-lite-1);
  --rvr-color-danger-lite: var(--rvr-red-lite-2);
  --rvr-color-warning: var(--rvr-yellow);
  --rvr-color-warning-lite: var(--rvr-yellow-lite-2);
  --rvr-color-success: var(--rvr-green);
  --rvr-color-success-hover: var(--rvr-green-lite-1);
  --rvr-color-success-lite: var(--rvr-green-lite-2);
  --rvr-color-info: var(--rvr-blue);
  --rvr-color-info-lite: var(--rvr-blue-lite-3);
  --rvr-color-brand-blue: var(--rvr-blue-alt);
  --rvr-color-brand-blue-hover: var(--rvr-blue-alt-lite-1);
  --rvr-color-brand-orange: var(--rvr-orange);
  --rvr-color-brand-orange-hover: var(--rvr-orange-lite-1);
  --rvr-color-brand-teal: var(--rvr-teal);
  --rvr-color-brand-teal-hover: var(--rvr-teal-lite-1);
  --rvr-color-brand-teal-alt: var(--rvr-teal-lite-2);
  --rvr-color-brand-teal-alt-hover: var(--rvr-teal-lite-3);
  --rvr-color-highlight: var(--rvr-blue-lite-2);
  --rvr-color-notification: var(--rvr-hot-pink);
  --rvr-color-chart-blue-dark: var(--rvr-blue-alt-2-dark-1);
  --rvr-color-chart-blue: var(--rvr-blue-alt-2);
  --rvr-color-chart-blue-lite: var(--rvr-blue-alt-2-lite-1);
  --rvr-color-chart-green-dark: var(--rvr-green-alt-dark-1);
  --rvr-color-chart-green: var(--rvr-green-alt);
  --rvr-color-chart-green-lite: var(--rvr-green-alt-lite-1);
  --rvr-color-chart-magenta-dark: var(--rvr-magenta-dark-1);
  --rvr-color-chart-magenta: var(--rvr-magenta);
  --rvr-color-chart-magenta-lite: var(--rvr-magenta-lite-1);
  --rvr-color-chart-purple-dark: var(--rvr-purple-dark-1);
  --rvr-color-chart-purple: var(--rvr-purple);
  --rvr-color-chart-purple-lite: var(--rvr-purple-lite-1);
  --rvr-color-chart-red-dark: var(--rvr-red-alt-dark-1);
  --rvr-color-chart-red: var(--rvr-red-alt);
  --rvr-color-chart-red-lite: var(--rvr-red-alt-lite-1);
  --rvr-color-chart-teal-dark: var(--rvr-teal-alt-dark-1);
  --rvr-color-chart-teal: var(--rvr-teal-alt);
  --rvr-color-chart-teal-lite: var(--rvr-teal-alt-lite-1);
  --rvr-color-chart-yellow-dark: var(--rvr-yellow-alt-dark-1);
  --rvr-color-chart-yellow: var(--rvr-yellow-alt);
  --rvr-color-chart-yellow-lite: var(--rvr-yellow-alt-lite-1);
  --rvr-color-font-dark: var(--rvr-gray-90);
  --rvr-color-font: var(--rvr-gray-80);
}

:root {
  --rvr-baseSize: 8px;

  /* BORDERS */
  --rvr-border-width-base: 1px;
  --rvr-border-width-md: var(--rvr-border-width-base);

  /* SPACING */
  --rvr-space-xs: calc(var(--rvr-baseSize) / 2); /* 4px */
  --rvr-space-sm: calc(var(--rvr-baseSize)); /* 8px */
  --rvr-space-md: calc(var(--rvr-baseSize) * 1.5); /* 12px */
  --rvr-space-lg: calc(var(--rvr-baseSize) * 2); /* 16px */
  --rvr-space-xl: calc(var(--rvr-baseSize) * 3); /* 24px */

  /* BORDERED SPACING */
  --rvr-space-bordered-xs:
    calc(
      var(--rvr-space-xs) - var(--rvr-border-width-md)
    );
  --rvr-space-bordered-sm:
    calc(
      var(--rvr-space-sm) - var(--rvr-border-width-md)
    );
  --rvr-space-bordered-md:
    calc(
      var(--rvr-space-md) - var(--rvr-border-width-md)
    );
  --rvr-space-bordered-lg:
    calc(
      var(--rvr-space-lg) - var(--rvr-border-width-md)
    );
  --rvr-space-bordered-xl:
    calc(
      var(--rvr-space-xl) - var(--rvr-border-width-md)
    );

  /* TYPE */

  /* Tooltip */
  --rvr-tooltip-arrow-size: 6px;
  --rvr-tooltip-border-size: 1px;
  --rvr-tooltip-box-shadow:
    0 1px 2px 0 rgba(0, 0, 0, 0.2),
    0 5px 10px 0 rgba(0, 0, 0, 0.1);
  --rvr-tooltip-base-z-index: 900;
  --rvr-tooltip-border-radius: 3px;
  --rvr-tooltip-offset: 20px;

  /* font-size */
  --rvr-font-size-base: 14px;
  --rvr-font-size-h1: 42px;
  --rvr-font-size-h2: 30px;
  --rvr-font-size-h3: 25px;
  --rvr-font-size-h4: 16px;
  --rvr-font-size-md: 14px;
  --rvr-font-size-sm: 12px;

  /* line-height */
  --rvr-line-height-sm: calc(var(--rvr-baseSize) * 2); /* 16px */
  --rvr-line-height-md: calc(var(--rvr-baseSize) * 2.5); /* 20px */
  --rvr-line-height-lg: calc(var(--rvr-baseSize) * 3); /* 24px */
}

:root {
  /* PRIMARY */
  --rvr-btn-color-primary: var(--rvr-white);
  --rvr-btn-bg-color-primary: var(--rvr-blue);
  --rvr-btn-border-color-primary: var(--rvr-btn-bg-color-primary);

  /* Active */
  --rvr-btn-color-primary-active: var(--rvr-btn-color-primary);
  --rvr-btn-bg-color-primary-active: var(--rvr-blue-lite-1);
  --rvr-btn-border-color-primary-active: var(--rvr-btn-bg-color-primary-active);

  /* Disabled */
  --rvr-btn-color-primary-disabled: var(--rvr-white);
  --rvr-btn-bg-color-primary-disabled: var(--rvr-gray-40);
  --rvr-btn-border-color-primary-disabled: var(--rvr-gray-40);

  /* PRIMARY-ALT (TEAL) */
  --rvr-btn-color-primary-alt: var(--rvr-white);
  --rvr-btn-bg-color-primary-alt: var(--rvr-teal);
  --rvr-btn-border-color-primary-alt: var(--rvr-btn-bg-color-primary-alt);

  /* Active */
  --rvr-btn-color-primary-alt-active: var(--rvr-btn-color-primary-alt);
  --rvr-btn-bg-color-primary-alt-active: var(--rvr-teal-lite-1);
  --rvr-btn-border-color-primary-alt-active: var(--rvr-btn-bg-color-primary-alt-active);

  /* Disabled */
  --rvr-btn-color-primary-alt-disabled: var(--rvr-btn-color-primary-disabled);
  --rvr-btn-bg-color-primary-alt-disabled: var(--rvr-btn-bg-color-primary-disabled);
  --rvr-btn-border-color-primary-alt-disabled: var(--rvr-btn-border-color-primary-disabled);

  /* SECONDARY */
  --rvr-btn-color-secondary: var(--rvr-blue);
  --rvr-btn-bg-color-secondary: var(--rvr-white);
  --rvr-btn-border-color-secondary: var(--rvr-btn-color-secondary);

  /* Active */
  --rvr-btn-color-secondary-active: var(--rvr-btn-color-primary-active);
  --rvr-btn-bg-color-secondary-active: var(--rvr-btn-bg-color-primary-active);
  --rvr-btn-border-color-secondary-active: var(--rvr-btn-border-color-primary-active);

  /* Disabled */
  --rvr-btn-color-secondary-disabled: var(--rvr-gray-40);
  --rvr-btn-bg-color-secondary-disabled: var(--rvr-white);
  --rvr-btn-border-color-secondary-disabled: var(--rvr-gray-40);

  /* TERTIARY */
  --rvr-btn-color-tertiary: var(--rvr-color-font);
  --rvr-btn-bg-color-tertiary: var(--rvr-white);
  --rvr-btn-border-color-tertiary: var(--rvr-gray-40);

  /* Active */
  --rvr-btn-color-tertiary-active: var(--rvr-color-font-dark);
  --rvr-btn-bg-color-tertiary-active: var(--rvr-gray-20);
  --rvr-btn-border-color-tertiary-active: var(--rvr-gray-60);

  /* Disabled */
  --rvr-btn-color-tertiary-disabled: var(--rvr-btn-color-secondary-disabled);
  --rvr-btn-bg-color-tertiary-disabled: var(--rvr-btn-bg-color-secondary-disabled);
  --rvr-btn-border-color-tertiary-disabled: var(--rvr-btn-border-color-secondary-disabled);

  /* SUCCESS */
  --rvr-btn-color-success: var(--rvr-white);
  --rvr-btn-bg-color-success: var(--rvr-color-success);
  --rvr-btn-border-color-success: var(--rvr-btn-bg-color-success);

  /* Active */
  --rvr-btn-color-success-active: var(--rvr-white);
  --rvr-btn-bg-color-success-active: var(--rvr-color-success-hover);
  --rvr-btn-border-color-success-active: var(--rvr-btn-bg-color-success-active);

  /* Disabled */
  --rvr-btn-color-success-disabled: var(--rvr-btn-color-secondary-disabled);
  --rvr-btn-bg-color-success-disabled: var(--rvr-btn-bg-color-secondary-disabled);
  --rvr-btn-border-color-success-disabled: var(--rvr-btn-border-color-secondary-disabled);

  /* DANGER */
  --rvr-btn-color-danger: var(--rvr-white);
  --rvr-btn-bg-color-danger: var(--rvr-red);
  --rvr-btn-border-color-danger: var(--rvr-btn-bg-color-danger);

  /* Active */
  --rvr-btn-color-danger-active: var(--rvr-white);
  --rvr-btn-bg-color-danger-active: var(--rvr-color-danger-hover);
  --rvr-btn-border-color-danger-active: var(--rvr-btn-bg-color-danger-active);

  /* Disabled */
  --rvr-btn-color-danger-disabled: var(--rvr-btn-color-secondary-disabled);
  --rvr-btn-bg-color-danger-disabled: var(--rvr-btn-bg-color-secondary-disabled);
  --rvr-btn-border-color-danger-disabled: var(--rvr-btn-border-color-secondary-disabled);

  /* LINK */
  --rvr-btn-color-link: var(--rvr-blue);
  --rvr-btn-bg-color-link: transparent;
  --rvr-btn-border-color-link: var(--rvr-btn-bg-color-link);

  /* Active */
  --rvr-btn-color-link-active: var(--rvr-blue-lite-1);
  --rvr-btn-bg-color-link-active: var(--rvr-btn-bg-color-link);
  --rvr-btn-border-color-link-active: var(--rvr-btn-bg-color-link-active);

  /* Disabled */
  --rvr-btn-color-link-disabled: var(--rvr-gray-40);
  --rvr-btn-bg-color-link-disabled: var(--rvr-btn-bg-color-link);
  --rvr-btn-border-color-link-disabled: var(--rvr-btn-bg-color-link-disabled);

  /* TEXT */
  --rvr-btn-color-text: var(--rvr-gray-80);
  --rvr-btn-bg-color-text: transparent;
  --rvr-btn-border-color-text: var(--rvr-btn-bg-color-text);

  /* Active */
  --rvr-btn-color-text-active: var(--rvr-gray-90);
  --rvr-btn-bg-color-text-active: var(--rvr-btn-bg-color-text);
  --rvr-btn-border-color-text-active: var(--rvr-btn-bg-color-text-active);

  /* Disabled */
  --rvr-btn-color-text-disabled: var(--rvr-gray-40);
  --rvr-btn-bg-color-text-disabled: var(--rvr-btn-bg-color-text);
  --rvr-btn-border-color-text-disabled: var(--rvr-btn-bg-color-text-disabled);

  /* DARK MODE */
  --rvr-btn-color-hollow: var(--rvr-white);
  --rvr-btn-bg-color-hollow: transparent;
  --rvr-btn-border-color-hollow: var(--rvr-btn-color-hollow);

  /* Active */
  --rvr-btn-color-hollow-active: var(--rvr-gray-40);
  --rvr-btn-bg-color-hollow-active: var(--rvr-bg-color-hollow);
  --rvr-btn-border-color-hollow-active: var(--rvr-btn-color-hollow-active);

  /* Disabled */
  --rvr-btn-color-hollow-disabled: #fff6;
  --rvr-btn-bg-color-hollow-disabled: var(--rvr-bg-color-hollow);
  --rvr-btn-border-color-hollow-disabled: #fff6;
}

:root {
  /* Colors */
  --rvr-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);

  /* Fonts */
  --rvr-base-font-color: #58666e;
  --rvr-base-font-family: 'Proxima Nova', sans-serif;
  --rvr-font-family-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  /* Transitions */
  --rvr-linear: cubic-bezier(0.25, 0.25, 0.75, 0.75);
  --rvr-easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --rvr-easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1);
  --rvr-slideout: cubic-bezier(0, 0.52, 0, 1); /* Use this one for objects exiting the screen */

  /* Z-Indices */
  --rvr-zindex-dropdown: 1000;
  --rvr-zindex-sticky: 1020;
  --rvr-zindex-fixed: 1030;
  --rvr-zindex-sidetray-backdrop: 1040;
  --rvr-zindex-sidetray: 1050;
  --rvr-zindex-modal-backdrop: 1060;
  --rvr-zindex-modal: 1070;
  --rvr-zindex-popover: 1080;

  /* Borders */
  --rvr-border-radius: 4px;
}

.Badge_Badge__2WWsV {
  background-color: var(--rvr-white);
  border-radius: 2px;
  box-sizing: border-box;
  color: var(--rvr-color-font-dark);
  display: inline-block;
  font-size: var(--rvr-font-size-sm);
  line-height: 1.5;
  padding: 0 0.5em;
}

.Badge_dark__3udkM {
  background-color: rgba(0, 0, 0, 0.2);
}

.Badge_round__3F-jx {
  border-radius: 100px;
}

.Badge_danger__3WxHh {
  background-color: var(--rvr-color-danger);
  color: var(--rvr-white);
}

.Badge_notify__3bQlg {
  background-color: var(--rvr-color-notification);
  color: var(--rvr-white);
}

.Badge_warning__kKWZJ {
  background-color: var(--rvr-color-warning);
  color: var(--rvr-color-font-dark);
}

.Badge_info__2MaHC {
  background-color: var(--rvr-color-info);
  color: var(--rvr-white);
}

.Badge_success__1HR2l {
  background-color: var(--rvr-color-success);
  color: var(--rvr-white);
}

.Addon_Addon__23Nj9 {
  flex: 0 0 auto;
  align-self: center;
}

.Addon_sm__3uSrc {
  -webkit-margin-start: var(--rvr-space-sm);
          margin-inline-start: var(--rvr-space-sm);
  -webkit-margin-end: var(--rvr-space-sm);
          margin-inline-end: var(--rvr-space-sm);
}

.Addon_md__3LdE2 {
  -webkit-margin-start: var(--rvr-space-md);
          margin-inline-start: var(--rvr-space-md);
  -webkit-margin-end: var(--rvr-space-md);
          margin-inline-end: var(--rvr-space-md);
}

.Addon_lg__xntEL {
  -webkit-margin-start: var(--rvr-space-lg);
          margin-inline-start: var(--rvr-space-lg);
  -webkit-margin-end: var(--rvr-space-lg);
          margin-inline-end: var(--rvr-space-lg);
}

.Addon_Addon__23Nj9:first-child {
  -webkit-margin-start: 0;
          margin-inline-start: 0;
}

.Addon_Addon__23Nj9:last-child {
  -webkit-margin-end: 0;
          margin-inline-end: 0;
}

.Addon_Addon__23Nj9 + .Addon_Addon__23Nj9 {
  -webkit-margin-start: 0;
          margin-inline-start: 0;
}

.Button_Button__3R1xi {
  -webkit-appearance: none;
  background: transparent none;
  border: var(--rvr-border-width-md) solid transparent;
  border-radius: 9999px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: var(--rvr-font-size-md);
  line-height: var(--rvr-line-height-sm);
  transition:
    0.2s linear background-color,
    0.2s linear border-color,
    0.2s linear color;
  display: inline-flex;
  flex-flow: row nowrap;
  align-content: center;
  align-items: center;
  text-decoration: none;
}

.Button_buttonBody__cUFn6 {
  flex: 1 1 auto;
  min-width: 0;
}

/* Sizes */

.Button_sm__ns8od {
  padding: var(--rvr-space-bordered-xs) var(--rvr-space-bordered-sm);
}

.Button_md__39LYy {
  padding: var(--rvr-space-bordered-sm) var(--rvr-space-bordered-md);
}

.Button_lg__OTZ8R {
  padding: var(--rvr-space-bordered-md) var(--rvr-space-bordered-lg);
}

/* Circle */
.Button_circle__2kdOq {
  display: inline-block;
  text-align: center;
}

.Button_sm__ns8od.Button_circle__2kdOq {
  max-height:
    calc(
      var(--rvr-space-bordered-xs) * 2 + var(--rvr-line-height-md)
    );
  max-width: calc(var(--rvr-space-bordered-xs) * 2 + var(--rvr-line-height-md));
  height: calc(var(--rvr-space-bordered-xs) * 2 + var(--rvr-line-height-md));
  width: calc(var(--rvr-space-bordered-xs) * 2 + var(--rvr-line-height-md));
  padding: var(--rvr-space-bordered-xs);
}

.Button_md__39LYy.Button_circle__2kdOq {
  max-height:
    calc(
      var(--rvr-space-bordered-sm) * 2 + var(--rvr-line-height-md)
    );
  max-width: calc(var(--rvr-space-bordered-sm) * 2 + var(--rvr-line-height-md));
  height: calc(var(--rvr-space-bordered-sm) * 2 + var(--rvr-line-height-md));
  width: calc(var(--rvr-space-bordered-sm) * 2 + var(--rvr-line-height-md));
  padding: var(--rvr-space-bordered-sm);
}

.Button_lg__OTZ8R.Button_circle__2kdOq {
  max-height:
    calc(
      var(--rvr-space-bordered-md) * 2 + var(--rvr-line-height-md)
    );
  max-width: calc(var(--rvr-space-bordered-md) * 2 + var(--rvr-line-height-md));
  height: calc(var(--rvr-space-bordered-md) * 2 + var(--rvr-line-height-md));
  width: calc(var(--rvr-space-bordered-md) * 2 + var(--rvr-line-height-md));
  padding: var(--rvr-space-bordered-md);
}

.Button_Button__3R1xi.Button_disabled__2c3jr,
.Button_Button__3R1xi:disabled,
.Button_Button__3R1xi[disabled] {
  cursor: default;
}

/* Button level colors */

.Button_primary__1mTxz,
.Button_primary__1mTxz:link,
.Button_primary__1mTxz:visited {
  color: var(--rvr-btn-color-primary);
  background-color: var(--rvr-btn-bg-color-primary);
  border-color: var(--rvr-btn-border-color-primary);
}

.Button_primary__1mTxz.Button_active__TCjlx,
.Button_primary__1mTxz:active,
.Button_primary__1mTxz.Button_hover__eMhkr,
.Button_primary__1mTxz:hover,
.Button_primary__1mTxz.Button_focus__XizcQ,
.Button_primary__1mTxz:focus {
  color: var(--rvr-btn-color-primary-active);
  background-color: var(--rvr-btn-bg-color-primary-active);
  border-color: var(--rvr-btn-border-color-primary-active);
}

.Button_primary__1mTxz.Button_disabled__2c3jr,
.Button_primary__1mTxz:disabled,
.Button_primary__1mTxz[disabled] {
  color: var(--rvr-btn-color-primary-disabled);
  background-color: var(--rvr-btn-bg-color-primary-disabled);
  border-color: var(--rvr-btn-border-color-primary-disabled);
}

.Button_primary-alt__1tYPZ,
.Button_primary-alt__1tYPZ:link,
.Button_primary-alt__1tYPZ:visited {
  color: var(--rvr-btn-color-primary-alt);
  background-color: var(--rvr-btn-bg-color-primary-alt);
  border-color: var(--rvr-btn-border-color-primary-alt);
}

.Button_primary-alt__1tYPZ.Button_active__TCjlx,
.Button_primary-alt__1tYPZ:active,
.Button_primary-alt__1tYPZ.Button_hover__eMhkr,
.Button_primary-alt__1tYPZ:hover,
.Button_primary-alt__1tYPZ.Button_focus__XizcQ,
.Button_primary-alt__1tYPZ:focus {
  color: var(--rvr-btn-color-primary-alt-active);
  background-color: var(--rvr-btn-bg-color-primary-alt-active);
  border-color: var(--rvr-btn-border-color-primary-alt-active);
}

.Button_primary-alt__1tYPZ.Button_disabled__2c3jr,
.Button_primary-alt__1tYPZ:disabled,
.Button_primary-alt__1tYPZ[disabled] {
  color: var(--rvr-btn-color-primary-alt-disabled);
  background-color: var(--rvr-btn-bg-color-primary-alt-disabled);
  border-color: var(--rvr-btn-border-color-primary-alt-disabled);
}

.Button_secondary__2t2Od,
.Button_secondary__2t2Od:link,
.Button_secondary__2t2Od:visited {
  color: var(--rvr-btn-color-secondary);
  background-color: var(--rvr-btn-bg-color-secondary);
  border-color: var(--rvr-btn-border-color-secondary);
}

.Button_secondary__2t2Od.Button_active__TCjlx,
.Button_secondary__2t2Od:active,
.Button_secondary__2t2Od.Button_hover__eMhkr,
.Button_secondary__2t2Od:hover,
.Button_secondary__2t2Od.Button_focus__XizcQ,
.Button_secondary__2t2Od:focus {
  color: var(--rvr-btn-color-secondary-active);
  background-color: var(--rvr-btn-bg-color-secondary-active);
  border-color: var(--rvr-btn-border-color-secondary-active);
}

.Button_secondary__2t2Od.Button_disabled__2c3jr,
.Button_secondary__2t2Od:disabled,
.Button_secondary__2t2Od[disabled] {
  color: var(--rvr-btn-color-secondary-disabled);
  background-color: var(--rvr-btn-bg-color-secondary-disabled);
  border-color: var(--rvr-btn-border-color-secondary-disabled);
}

.Button_tertiary__Gp4m_,
.Button_tertiary__Gp4m_:link,
.Button_tertiary__Gp4m_:visited {
  color: var(--rvr-btn-color-tertiary);
  background-color: var(--rvr-btn-bg-color-tertiary);
  border-color: var(--rvr-btn-border-color-tertiary);
}

.Button_tertiary__Gp4m_.Button_active__TCjlx,
.Button_tertiary__Gp4m_:active,
.Button_tertiary__Gp4m_.Button_hover__eMhkr,
.Button_tertiary__Gp4m_:hover,
.Button_tertiary__Gp4m_.Button_focus__XizcQ,
.Button_tertiary__Gp4m_:focus {
  color: var(--rvr-btn-color-tertiary-active);
  background-color: var(--rvr-btn-bg-color-tertiary-active);
  border-color: var(--rvr-btn-border-color-tertiary-active);
}

.Button_tertiary__Gp4m_.Button_disabled__2c3jr,
.Button_tertiary__Gp4m_:disabled,
.Button_tertiary__Gp4m_[disabled] {
  color: var(--rvr-btn-color-tertiary-disabled);
  background-color: var(--rvr-btn-bg-color-tertiary-disabled);
  border-color: var(--rvr-btn-border-color-tertiary-disabled);
}

.Button_success__3UXPA,
.Button_success__3UXPA:link,
.Button_success__3UXPA:visited {
  color: var(--rvr-btn-color-success);
  background-color: var(--rvr-btn-bg-color-success);
  border-color: var(--rvr-btn-border-color-success);
}

.Button_success__3UXPA.Button_active__TCjlx,
.Button_success__3UXPA:active,
.Button_success__3UXPA.Button_hover__eMhkr,
.Button_success__3UXPA:hover,
.Button_success__3UXPA.Button_focus__XizcQ,
.Button_success__3UXPA:focus {
  color: var(--rvr-btn-color-success-active);
  background-color: var(--rvr-btn-bg-color-success-active);
  border-color: var(--rvr-btn-border-color-success-active);
}

.Button_success__3UXPA.Button_disabled__2c3jr,
.Button_success__3UXPA:disabled,
.Button_success__3UXPA[disabled] {
  color: var(--rvr-btn-color-primary-alt-disabled);
  background-color: var(--rvr-btn-bg-color-primary-alt-disabled);
  border-color: var(--rvr-btn-border-color-primary-alt-disabled);
}

.Button_danger__311uS,
.Button_danger__311uS:link,
.Button_danger__311uS:visited {
  color: var(--rvr-btn-color-danger);
  background-color: var(--rvr-btn-bg-color-danger);
  border-color: var(--rvr-btn-border-color-danger);
}

.Button_danger__311uS.Button_active__TCjlx,
.Button_danger__311uS:active,
.Button_danger__311uS.Button_hover__eMhkr,
.Button_danger__311uS:hover,
.Button_danger__311uS.Button_focus__XizcQ,
.Button_danger__311uS:focus {
  color: var(--rvr-btn-color-danger-active);
  background-color: var(--rvr-btn-bg-color-danger-active);
  border-color: var(--rvr-btn-border-color-danger-active);
}

.Button_danger__311uS.Button_disabled__2c3jr,
.Button_danger__311uS:disabled,
.Button_danger__311uS[disabled] {
  color: var(--rvr-btn-color-primary-alt-disabled);
  background-color: var(--rvr-btn-bg-color-primary-alt-disabled);
  border-color: var(--rvr-btn-border-color-primary-alt-disabled);
}

.Button_link__3eKQO,
.Button_link__3eKQO:link,
.Button_link__3eKQO:visited {
  color: var(--rvr-btn-color-link);
  background-color: var(--rvr-btn-bg-color-link);
  border-color: var(--rvr-btn-border-color-link);
}

.Button_link__3eKQO.Button_active__TCjlx,
.Button_link__3eKQO:active,
.Button_link__3eKQO.Button_hover__eMhkr,
.Button_link__3eKQO:hover,
.Button_link__3eKQO.Button_focus__XizcQ,
.Button_link__3eKQO:focus {
  color: var(--rvr-btn-color-link-active);
  background-color: var(--rvr-btn-bg-color-link-active);
  border-color: var(--rvr-btn-border-color-link-active);
}

.Button_link__3eKQO.Button_disabled__2c3jr,
.Button_link__3eKQO:disabled,
.Button_link__3eKQO[disabled] {
  color: var(--rvr-btn-color-link-disabled);
  background-color: var(--rvr-btn-bg-color-link-disabled);
  border-color: var(--rvr-btn-border-color-link-disabled);
}

.Button_text__IJxlq,
.Button_text__IJxlq:link,
.Button_text__IJxlq:visited {
  color: var(--rvr-btn-color-text);
  background-color: var(--rvr-btn-bg-color-text);
  border-color: var(--rvr-btn-border-color-text);
}

.Button_text__IJxlq.Button_active__TCjlx,
.Button_text__IJxlq:active,
.Button_text__IJxlq.Button_hover__eMhkr,
.Button_text__IJxlq:hover,
.Button_text__IJxlq.Button_focus__XizcQ,
.Button_text__IJxlq:focus {
  color: var(--rvr-btn-color-text-active);
  background-color: var(--rvr-btn-bg-color-text-active);
  border-color: var(--rvr-btn-border-color-text-active);
}

.Button_text__IJxlq.Button_disabled__2c3jr,
.Button_text__IJxlq:disabled,
.Button_text__IJxlq[disabled] {
  color: var(--rvr-btn-color-text-disabled);
  background-color: var(--rvr-btn-bg-color-text-disabled);
  border-color: var(--rvr-btn-border-color-text-disabled);
}

.Button_hollow__3Ahaw,
.Button_hollow__3Ahaw:link,
.Button_hollow__3Ahaw:visited {
  color: var(--rvr-btn-color-hollow);
  background-color: var(--rvr-btn-bg-color-hollow);
  border-color: var(--rvr-btn-border-color-hollow);
}

.Button_hollow__3Ahaw.Button_active__TCjlx,
.Button_hollow__3Ahaw:active,
.Button_hollow__3Ahaw.Button_hover__eMhkr,
.Button_hollow__3Ahaw:hover,
.Button_hollow__3Ahaw.Button_focus__XizcQ,
.Button_hollow__3Ahaw:focus {
  color: var(--rvr-btn-color-hollow-active);
  background-color: var(--rvr-btn-bg-color-hollow-active);
  border-color: var(--rvr-btn-border-color-hollow-active);
}

.Button_hollow__3Ahaw.Button_disabled__2c3jr,
.Button_hollow__3Ahaw:disabled,
.Button_hollow__3Ahaw[disabled] {
  color: var(--rvr-btn-color-hollow-disabled);
  background-color: var(--rvr-btn-bg-color-hollow-disabled);
  border-color: var(--rvr-btn-border-color-hollow-disabled);
}

.Grid_gridColumns__3jkXV {
  display: flex;
  flex-flow: row wrap;
}

.Entry_Entry__2z32c {
  box-sizing: border-box;
  flex: 0 0 100%;
  min-width: 0;

  /* Make content fill the space by default */
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}

.Entry_Clear__3KybC {
  flex-basis: 100%;
  max-width: 100%;
}

.Paper_Paper__3ZafX {
  background-color: var(--rvr-white);
  border-radius: 2px;
  box-shadow: var(--rvr-box-shadow);
  color: var(--rvr-color-font);
  padding: var(--rvr-space-lg);
}

.Paper_flat__K1ds3 {
  box-shadow: none;
}

.Paper_squared__3lUN0 {
  border-radius: 0;
}

.Avatar_Avatar__2_adr {
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--rvr-blue);
  background-position: center;
  background-size: cover;
}

.Avatar_loading__2I9uU {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: Avatar_imagePlaceholderShimmer__1NV2Z;
          animation-name: Avatar_imagePlaceholderShimmer__1NV2Z;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background: linear-gradient(to right, var(--rvr-blue) 2%, var(--rvr-blue-lite-1) 18%, var(--rvr-blue) 33%);
  background-size: 1200px 10px;
  position: relative;
}

.Avatar_disabled__2EmtE {
  background-color: var(--rvr-white);
  opacity: 0.7;
}

.Avatar_disabledNoImage__9PM3C {
  opacity: 1;
  background-color: var(--rvr-gray-40);
}

.Avatar_AvatarBadge__Neos5 {
  position: absolute;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes Avatar_imagePlaceholderShimmer__1NV2Z {
  0% {
    background-position: -400px 0;
  }

  100% {
    background-position: 400px 0;
  }
}

@keyframes Avatar_imagePlaceholderShimmer__1NV2Z {
  0% {
    background-position: -400px 0;
  }

  100% {
    background-position: 400px 0;
  }
}

a .Avatar_Avatar__2_adr {
  text-decoration: none;
}

.Bar_BarStat__2zvt_ {
  display: flex;
}

.Bar_Bar__3uGQr {
  background-color: var(--rvr-gray-20);
  border-radius: 9999px;
  display: flex;
  height: 10px;
  margin: 5px 20px 5px 0;
  overflow: hidden;
  width: 100%;
  flex-grow: 1;
}

.Bar_Fill__EXPIY {
  background-color: var(--rvr-gray-40);
  border-radius: 0;
  height: 100%;
  transition: width 1s ease;
}

.Bar_label__12d_Z {
  color: var(--rvr-color-font);
  width: 35px;
}

.Callout_Callout__2HXGV {
  border-radius: 2px;
  box-sizing: border-box;
  display: flex;
  padding: 20px;
  position: relative;
  background-color: var(--rvr-color-info-lite);
  border-bottom-color: var(--rvr-color-info);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: var(--rvr-color-font);
}

.Callout_success__3hXNO {
  background-color: var(--rvr-color-success-lite);
  border-bottom-color: var(--rvr-color-success);
}

.Callout_danger__2aRjo {
  background-color: var(--rvr-color-danger-lite);
  border-bottom-color: var(--rvr-color-danger);
}

.Callout_warning__3cpcM {
  background-color: var(--rvr-color-warning-lite);
  border-bottom-color: var(--rvr-color-warning);
}

.Callout_borderless__MldQq {
  box-shadow: none;
  border-bottom-width: 0;
}

.Callout_compact__2JX6Y {
  padding: 10px;
}

.Callout_cancelable__JuzBk {
  padding-right: 60px;
}

.Callout_cancelButton__H4F5E {
  background: transparent;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
}

.Callout_compact__2JX6Y .Callout_cancelButton__H4F5E {
  top: 10px;
  right: 10px;
}

.Collapse_entering__3pLg_ {
  height: 0;
  overflow-y: hidden;
  transition: height 200ms var(--rvr-easeInOutQuad);
}

.Collapse_exiting__1V6Lw {
  height: 0;
  overflow-y: hidden;
  transition: height 200ms var(--rvr-easeInOutQuad);
}

.Collapse_exited__362l- {
  height: 0;
  overflow-y: hidden;
}

.Dropdown_Dropdown__VxUOr {
  position: relative;
}

.Menu_Menu__UL_P7 {
  background: var(--rvr-white);
  box-shadow: var(--rvr-box-shadow);
  z-index: var(--rvr-zindex-dropdown);
  min-width: 100%;
  position: absolute;
  top: 100%;
  bottom: 100%;
  right: 0;
  left: 0;
  transition: opacity 200ms var(--rvr-easeInOutQuad);
  opacity: 0;
  display: block;
  overflow-y: auto;
}

.Menu_entering__32Qve {
  opacity: 0;
}

.Menu_entered__3toxw {
  opacity: 1;
}

.Menu_exiting__1rt_F {
  opacity: 0;
}

.Menu_exited__3Liwo {
  opacity: 0;
}

.Menu_topLeft__JkDCp {
  /*
    Pinned to the left side, so contents extends down and
    to the right when is wider than the parent.
  */
  top: auto;
  left: auto;
}

.Menu_topRight__1-WZK {
  /*
    Pinned to the left side, so contents extends down and
    to the right when is wider than the parent.
  */
  top: auto;
  right: auto;
}

.Menu_bottomRight__an9El {
  /*
    Pinned to the left side, so contents extends down and
    to the right when is wider than the parent.
  */
  bottom: auto;
  right: auto;
}

.Menu_bottomLeft__3lE4E {
  /*
    Pinned to the right side, so contents extends down and
    to the left when is wider than the parent.
  */
  bottom: auto;
  left: auto;
}

.Item_Item__1ribm {
  background: transparent none;
  padding: var(--rvr-space-sm) var(--rvr-space-lg);
  -webkit-appearance: none;
  border: 0 none transparent;
  transition: 100ms var(--rvr-easeInOutQuad) background-color, 100ms var(--rvr-easeInOutQuad) color;
  text-align: left;
  display: block;
  box-sizing: border-box;
  width: 100%;
  font-family: var(--rvr-base-font-family);
  font-size: var(--rvr-font-size-md);
  line-height: var(--rvr-line-height-sm);
  color: var(--rvr-gray-90);
}

.Item_button__1Kz17 {
  cursor: pointer;
  color: var(--rvr-gray-90);
}

.Item_button__1Kz17:hover,
.Item_button__1Kz17:active {
  background-color: var(--rvr-gray-10);
}

.Item_link__SLZOA {
  cursor: pointer;
  color: var(--rvr-gray-90);
  text-decoration: none;
}

.Item_link__SLZOA:hover,
.Item_link__SLZOA:active {
  background-color: var(--rvr-gray-10);
}

.Media_Media__1REvR {
  align-items: stretch;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.Media_Body__spdZ5,
.Media_Item__1sRDh {
  display: grid;
  grid-template-columns: 100%;
  min-width: 0;
}

.Media_Body__spdZ5 {
  flex: 1 1 auto;
}

.Media_Item__1sRDh {
  flex: 0 0 auto;
}

.Header_Header__1nwvh {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.Header_expandIcon__3d2zB {
  transform: rotate(0deg);
  transition: 200ms var(--rvr-linear);
}

.Header_expanded__oPueP {
  transform: rotate(180deg);
}

.Pill_Pill__25HSb {
  box-sizing: border-box;
  display: inline-flex;
  cursor: pointer;
  outline: none;

  /* Theme stuff */
  padding: 0 calc(var(--rvr-space-md) - var(--rvr-border-width-base));
  background-color: var(--rvr-white);
  border: solid var(--rvr-border-width-base) transparent;
  border-radius:
    calc(
      var(--rvr-line-height-sm) / 2 + var(--rvr-space-sm) -
      var(--rvr-border-width-base)
    );
  font-family: var(--rvr-base-font-family);
  font-size: var(--rvr-font-size-base);
  line-height: var(--rvr-line-height-sm);
  color: var(--rvr-blue);
  box-shadow: var(--rvr-box-shadow);
  transition:
    background-color 0.2s var(--rvr-easeInOutQuad),
    color 0.2s var(--rvr-easeInOutQuad),
    border-color 0.2s var(--rvr-easeInOutQuad);
}

.Pill_Pill__25HSb:hover {
  background-color: var(--rvr-blue-lite-1);
  color: var(--rvr-white);
}

.Pill_checked__2jQqA {
  background-color: #ebfffe;
  border-color: var(--rvr-color-brand-teal-alt);
  color: var(--rvr-gray-80);
  box-shadow: none;
}

.Pill_checked__2jQqA:hover {
  background-color: #d5f5f3;
  border-color: var(--rvr-color-brand-teal-alt-hover);
  color: var(--rvr-gray-90);
}

.Pill_content__QsJMc {
  padding: calc(var(--rvr-space-sm) - var(--rvr-border-width-base)) 0;
}

.Pill_actionInline__1bDpx {
  flex: 0 0 auto;
  align-self: center;
  margin: 0 var(--rvr-space-xs);
  color: var(--rvr-blue);
  transition: color 0.2s var(--rvr-easeInOutQuad);
}

.Pill_actionInline__1bDpx:first-child {
  -webkit-margin-start:
    calc(
      var(--rvr-space-sm) - var(--rvr-space-md) - var(--rvr-border-width-base)
    );
          margin-inline-start:
    calc(
      var(--rvr-space-sm) - var(--rvr-space-md) - var(--rvr-border-width-base)
    );
}

.Pill_actionInline__1bDpx:last-child {
  -webkit-margin-end:
    calc(
      var(--rvr-space-sm) - var(--rvr-space-md) - var(--rvr-border-width-base)
    );
          margin-inline-end:
    calc(
      var(--rvr-space-sm) - var(--rvr-space-md) - var(--rvr-border-width-base)
    );
}

.Pill_actionInline__1bDpx + .Pill_actionInline__1bDpx {
  -webkit-margin-start: 0;
          margin-inline-start: 0;
}

.Pill_checked__2jQqA .Pill_actionInline__1bDpx {
  color: var(--rvr-color-brand-teal-alt);
}

.Pill_Pill__25HSb:hover .Pill_actionInline__1bDpx {
  color: var(--rvr-white);
}

.Pill_checked__2jQqA:hover .Pill_actionInline__1bDpx {
  color: var(--rvr-color-brand-teal-alt-hover);
}

.Item_Item__1jELP {
  color: var(--rvr-color-font);
  font-weight: normal;
  padding: 0;
  margin: 0 12px;
  display: block;
  border-bottom: 2px solid transparent;
  box-sizing: content-box;
}

.Item_Item__1jELP:first-of-type {
  margin-left: 0;
}

.Item_Item__1jELP:last-of-type {
  margin-right: 0;
}

.Item_Item__1jELP:hover {
  color: var(--rvr-color-font-dark);
  cursor: pointer;
}

.Item_active__2gGKL {
  color: var(--rvr-color-font-dark);
  font-weight: 800;
  border-bottom-color: var(--rvr-color-primary);
}

.TabMenu_TabMenu__3HfeQ {
  display: flex;
  align-items: flex-end;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.TabMenu_leftAlign__30FR9 {
  justify-content: flex-start;
}

.TabMenu_centerAlign__1xeCj {
  justify-content: center;
}

.TabMenu_rightAlign__2Vf5m {
  justify-content: flex-end;
}

/* EasyTabMenu uses these */
.TabMenu_itemPadding__Znr4P {
  padding: 16px 0;

  /* reset default button styles */
  background-color: transparent;
  border: none;
  color: inherit;
  text-decoration: none;
  display: block;
  border-radius: 0;
}

.TabMenu_activeButton__1kt2Z {
  font-weight: bold;
}

.TabMenu_xsTextSize__3rn_x { font-size: var(--rvr-font-size-sm); }
.TabMenu_smTextSize__1OYsX { font-size: var(--rvr-font-size-md); }
.TabMenu_mdTextSize__13jls { font-size: var(--rvr-font-size-h4); }
.TabMenu_lgTextSize__1f6Vx { font-size: var(--rvr-font-size-h3); }

.EasyDropdown_EasyDropdown__2vnA2 {
  display: inline-block;
}

.EasyDropdown_group__2fBh9 {
  border-top: var(--rvr-border-width-md) solid var(--rvr-gray-20);
}

.EasyDropdown_group__2fBh9:first-child {
  border-top-width: 0;
}

.EasyDropdown_single__1Guxf {
  border-top: var(--rvr-border-width-md) solid var(--rvr-gray-20);
}

.EasyDropdown_single__1Guxf:first-child {
  border-top-width: 0;
}

.EasyDropdown_single__1Guxf + .EasyDropdown_single__1Guxf {
  border-top-width: 0;
}

.EasyPill_dropdownDeleteIcon__3X2aS {
  align-self: center;
  margin-right: var(--rvr-space-md);
}

.SideTray_SideTray___aQm6 {
  background-color: var(--rvr-white);
  position: fixed;
  transition: transform 0.3s var(--rvr-slideout);
  overflow: auto;
  z-index: var(--rvr-zindex-sidetray);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(0, 0, 0);
}

.SideTray_container__29RZS {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

.SideTray_backdrop__2WE2t {
  visibility: visible;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: var(--rvr-zindex-sidetray-backdrop);
  background-color: rgba(0, 0, 0, 0.3);
  overflow: auto;
  opacity: 10;
  transition: opacity 150ms var(--rvr-easeInOutQuad);
}

.SideTray_backdrop__2WE2t:hover {
  cursor: unset;
}

.SideTray_body__rKZsz {
  flex: 1 1 auto;
  overflow-y: scroll;
  min-height: 0;
}

.SideTray_header__2wZ2i {
  padding: 12px;
  border-bottom: 1px solid var(--rvr-gray-20);
  flex: 0 0 auto;
  min-height: 0;
}

.SideTray_footer__28Gwq {
  padding: 12px;
  border-top: 1px solid var(--rvr-gray-20);
  flex: 0 0 auto;
  min-height: 0;
}

.Tooltip_wrapper__LDCUA {
  position: relative;
  display: inline-block;
}

.Tooltip_original__3pJDl {
  position: relative;
}

.Tooltip_Tooltip__8WnFR {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: var(--rvr-tooltip-border-radius);
  box-shadow: var(--rvr-tooltip-box-shadow);
  box-sizing: border-box;
  font-family: var(--rvr-base-font-family);
  font-size: 14px;
  position: absolute;

  /* transform: translate3d(0, 0, 0); */
  transition: opacity 0.3s ease, transform 0.3s ease;
  will-change: opacity, transform;
  max-width: 100vw;
  z-index: var(--rvr-tooltip-base-z-index);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.Tooltip_open__zkAzw {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

.Tooltip_tooltipInnerWrapper__38kok {
  background: var(--rvr-white);
  border-radius: var(--rvr-tooltip-border-radius);
  padding: 8px;
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.Tooltip_textContent__3ablQ {
  text-align: center;
  white-space: nowrap;
  word-wrap: none;
}

.Tooltip_tooltipClose__KArxp {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--rvr-gray-lite-2);
  margin: 5px;
  padding: 0;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 51;
}

.Tooltip_Tooltip__8WnFR::before,
.Tooltip_Tooltip__8WnFR::after {
  pointer-events: none;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  position: absolute;
}

.Tooltip_Tooltip__8WnFR::before {
  border-color: transparent;
  border-width:
    calc(
      var(--rvr-tooltip-arrow-size) + var(--rvr-tooltip-border-size)
    );
  -webkit-filter: blur(2px);
          filter: blur(2px);
  z-index: -1;
}

.Tooltip_Tooltip__8WnFR::after {
  border-color: transparent;
  border-width: var(--rvr-tooltip-arrow-size);
  z-index: 2;
}

.Tooltip_Tooltip__8WnFR.Tooltip_bottom__3fUAH {
  left: 50%;
  top: calc(100% + var(--rvr-tooltip-offset));
  transform: translateX(-50%);
}

.Tooltip_Tooltip__8WnFR.Tooltip_bottom__3fUAH::before,
.Tooltip_Tooltip__8WnFR.Tooltip_bottom__3fUAH::after {
  bottom: 100%;
  left: 50%;
  margin-left: calc(var(--rvr-tooltip-arrow-size) * -1);
}

.Tooltip_Tooltip__8WnFR.Tooltip_bottom__3fUAH::before {
  border-bottom-color: rgba(0, 0, 0, 0.1);
  transform: translateX(-10%);
}

.Tooltip_Tooltip__8WnFR.Tooltip_bottom__3fUAH::after {
  border-bottom-color: var(--rvr-white);
}

.Tooltip_Tooltip__8WnFR.Tooltip_top__yWNdG {
  left: 50%;
  bottom: calc(100% + var(--rvr-tooltip-offset));
  transform: translateX(-50%);
}

.Tooltip_Tooltip__8WnFR.Tooltip_top__yWNdG::before,
.Tooltip_Tooltip__8WnFR.Tooltip_top__yWNdG::after {
  top: 100%;
  left: 50%;
  margin-left: calc(var(--rvr-tooltip-arrow-size) * -1);
}

.Tooltip_Tooltip__8WnFR.Tooltip_top__yWNdG::before {
  border-top-color: rgba(0, 0, 0, 0.1);
}

.Tooltip_Tooltip__8WnFR.Tooltip_top__yWNdG::after {
  border-top-color: var(--rvr-white);
}

.Tooltip_Tooltip__8WnFR.Tooltip_left__3OqD7 {
  top: 50%;
  right: calc(100% + var(--rvr-tooltip-offset));
}

.Tooltip_Tooltip__8WnFR.Tooltip_left__3OqD7::before,
.Tooltip_Tooltip__8WnFR.Tooltip_left__3OqD7::after {
  top: 50%;
  left: 100%;
  margin-left: calc(var(--rvr-tooltip-arrow-size));
  transform: translate(calc(var(--rvr-tooltip-arrow-size) * -1), -48%);
}

.Tooltip_Tooltip__8WnFR.Tooltip_left__3OqD7::before {
  border-left-color: rgba(0, 0, 0, 0.1);
}

.Tooltip_Tooltip__8WnFR.Tooltip_left__3OqD7::after {
  border-left-color: var(--rvr-white);
}

.Tooltip_Tooltip__8WnFR.Tooltip_right__1V5hj {
  top: 50%;
  left: calc(100% + var(--rvr-tooltip-offset));
}

.Tooltip_Tooltip__8WnFR.Tooltip_right__1V5hj::before,
.Tooltip_Tooltip__8WnFR.Tooltip_right__1V5hj::after {
  top: 50%;
  right: 100%;
  margin-right: calc(var(--rvr-tooltip-arrow-size));
  transform: translate(var(--rvr-tooltip-arrow-size), -50%);
}

.Tooltip_Tooltip__8WnFR.Tooltip_right__1V5hj::before {
  border-right-color: rgba(0, 0, 0, 0.1);
}

.Tooltip_Tooltip__8WnFR.Tooltip_right__1V5hj::after {
  border-right-color: var(--rvr-white);
}

.Input_Input__2ZMeK {
  box-sizing: border-box;
  background-color: var(--rvr-white);
  border-radius: var(--rvr-border-radius);
  border: var(--rvr-border-width-md) solid var(--rvr-gray-60);
  color: var(--rvr-gray-90);
  font-family: var(--rvr-base-font-family);
  font-size: var(--rvr-font-size-md);
  line-height: var(--rvr-line-height-lg);
  padding: var(--rvr-space-bordered-sm);
  height: calc(var(--rvr-line-height-lg) + 2 * var(--rvr-space-sm));
  transition:
    100ms linear background-color,
    100ms linear border-color,
    100ms linear box-shadow,
    100ms linear color;
}

.Input_Input__2ZMeK[type="time"] {
  /*
    Time pickers have an extra 1px padding in Chrome that throws off the height.
  */
  height: calc(var(--rvr-line-height-lg) + 2 * var(--rvr-space-sm));
}

.Input_Input__2ZMeK::-webkit-input-placeholder {
  color: var(--rvr-gray-60);
}

.Input_Input__2ZMeK::-moz-placeholder {
  color: var(--rvr-gray-60);
}

.Input_Input__2ZMeK:-ms-input-placeholder {
  color: var(--rvr-gray-60);
}

.Input_Input__2ZMeK::-ms-input-placeholder {
  color: var(--rvr-gray-60);
}

.Input_Input__2ZMeK::placeholder {
  color: var(--rvr-gray-60);
}

.Input_Input__2ZMeK:hover {
  background-color: var(--rvr-gray-10);
  border-color: var(--rvr-gray-80);
}

.Input_Input__2ZMeK:hover::-webkit-input-placeholder {
  color: var(--rvr-gray-80);
}

.Input_Input__2ZMeK:hover::-moz-placeholder {
  color: var(--rvr-gray-80);
}

.Input_Input__2ZMeK:hover:-ms-input-placeholder {
  color: var(--rvr-gray-80);
}

.Input_Input__2ZMeK:hover::-ms-input-placeholder {
  color: var(--rvr-gray-80);
}

.Input_Input__2ZMeK:hover::placeholder {
  color: var(--rvr-gray-80);
}

.Input_Input__2ZMeK.Input_focus__8g31E,
.Input_Input__2ZMeK:focus {
  border-color: var(--rvr-color-primary);
  box-shadow: 0 0 4px var(--rvr-color-primary);
  outline: 0 none;
}

.Input_Input__2ZMeK:active {
  background-color: var(--rvr-gray-10);
  border-color: var(--rvr-gray-80);
}

.Input_Input__2ZMeK:active::-webkit-input-placeholder {
  color: var(--rvr-gray-80);
}

.Input_Input__2ZMeK:active::-moz-placeholder {
  color: var(--rvr-gray-80);
}

.Input_Input__2ZMeK:active:-ms-input-placeholder {
  color: var(--rvr-gray-80);
}

.Input_Input__2ZMeK:active::-ms-input-placeholder {
  color: var(--rvr-gray-80);
}

.Input_Input__2ZMeK:active::placeholder {
  color: var(--rvr-gray-80);
}

.Input_Input__2ZMeK:disabled,
.Input_Input__2ZMeK.Input_disabled__HvN5D {
  border-color: var(--rvr-gray-40);
  color: var(--rvr-gray-40);
  cursor: default;
}

.Input_Input__2ZMeK:disabled::-webkit-input-placeholder, .Input_Input__2ZMeK.Input_disabled__HvN5D::-webkit-input-placeholder {
  color: var(--rvr-gray-60);
}

.Input_Input__2ZMeK:disabled::-moz-placeholder, .Input_Input__2ZMeK.Input_disabled__HvN5D::-moz-placeholder {
  color: var(--rvr-gray-60);
}

.Input_Input__2ZMeK:disabled:-ms-input-placeholder, .Input_Input__2ZMeK.Input_disabled__HvN5D:-ms-input-placeholder {
  color: var(--rvr-gray-60);
}

.Input_Input__2ZMeK:disabled::-ms-input-placeholder, .Input_Input__2ZMeK.Input_disabled__HvN5D::-ms-input-placeholder {
  color: var(--rvr-gray-60);
}

.Input_Input__2ZMeK:disabled::placeholder,
.Input_Input__2ZMeK.Input_disabled__HvN5D::placeholder {
  color: var(--rvr-gray-60);
}

.Input_Input__2ZMeK:invalid,
.Input_Input__2ZMeK.Input_invalid__2u9yB {
  background-color: var(--rvr-color-danger-lite);
  border-color: var(--rvr-color-danger);
  color: var(--rvr-color-danger);
}

.Dropdown_icon__15fpl {
  margin-right: var(--rvr-space-bordered-sm);
}

.Dropdown_icon__15fpl:not(:last-child) {
  margin-right: 0;
}

.Dropdown_toggle__IZuSC {
  display: block;
  padding: 3px;
}

.Dropdown_menu__2SH9p {
  --item-height: calc(var(--rvr-space-lg) * 2);
  --visible-items-before-scrolling: 5.5;
  max-height: calc(var(--item-height) * var(--visible-items-before-scrolling));
}

.Dropdown_menuItem__2Lvmb {
  text-align: right;
  white-space: nowrap;
}

.InputTime_InputTime__10Fgl {
  box-sizing: border-box;
  position: relative;
  display: inline-flex;
  flex-flow: row nowrap;
  padding: 0;
}

.InputTime_InputTime__10Fgl * {
  box-sizing: border-box;
}

.InputTime_Input__3Ut5i.InputTime_Input__3Ut5i {
  background: transparent;
  border-width: 0;
  box-shadow: none;
  height: calc(var(--rvr-line-height-lg) + 2 * var(--rvr-space-bordered-sm));
  flex: 1 1 auto;
  min-width: 0;
}

.InputTime_addons__1mbHk {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-right: var(--rvr-border-width-md);
}

.InputTime_icon__2du3U {
  margin-right: var(--rvr-space-bordered-sm);
  color: var(--rvr-btn-color-text);
}

.InputTime_icon__2du3U:not(:last-child) {
  margin-right: 0;
}

.InputTime_disabledIcon__3EHo6 {
  color: var(--rvr-gray-40);
}


/*# sourceMappingURL=main.1bb405b5.chunk.css.map*/