.color--primary {
  color: var(--rvr-color-font);
}

.color--primary-alt {
  color: var(--rvr-color-font-dark);
}

.color--black {
  color: var(--rvr-black);
}

.size--sm {
  font-size: var(--rvr-font-size-sm);
}

.size--md {
  font-size: var(--rvr-font-size-md);
}

.size--lg {
  font-size: var(--rvr-font-size-lg);
}

.size--xl {
  font-size: var(--rvr-font-size-xl);
}

.size--xl2 {
  font-size: var(--rvr-font-size-2xl);
}

.size--xl3 {
  font-size: var(--rvr-font-size-3xl);
}

.weight--normal {
  font-weight: var(--rvr-font-weight-normal);
}

.weight--bold {
  font-weight: var(--rvr-font-weight-bold);
}
