.Select {
  visibility: visible;
  display: inline-flex;
}

.toggle {
  width: 22ex;
}

.placeholder {
  font-style: italic;
}

.menu {
  max-height: calc(var(--rvr-dropdown-menu-item-height) * var(--rvr-dropdown-menu-max-rows-sm));
}
