.TabMenu {
  display: flex;
  align-items: flex-end;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.leftAlign {
  justify-content: flex-start;
}

.centerAlign {
  justify-content: center;
}

.rightAlign {
  justify-content: flex-end;
}

/* EasyTabMenu uses these */
.itemPadding {
  padding: 16px 0;

  /* reset default button styles */
  background-color: transparent;
  border: none;
  color: inherit;
  text-decoration: none;
  display: block;
  border-radius: 0;
}

.activeButton {
  font-weight: bold;
}

.xsTextSize { font-size: var(--rvr-font-size-sm); }
.smTextSize { font-size: var(--rvr-font-size-md); }
.mdTextSize { font-size: var(--rvr-font-size-h4); }
.lgTextSize { font-size: var(--rvr-font-size-h3); }
