:root {
  --rvr-white: #fff;
  --rvr-black: #000;
  --rvr-color-brand: #3398db;
  --rvr-blue: var(--rvr-color-brand);
  --rvr-blue-lite-1: #50a7e0;
  --rvr-blue-lite-2: #e8f8fc;
  --rvr-green: #63bf52;
  --rvr-green-lite-1: #69cc58;
  --rvr-green-lite-2: #e9fcf6;
  --rvr-teal: #44c0c2;
  --rvr-teal-lite-1: #47cacc;
  --rvr-salmon: #f76764;
  --rvr-salmon-lite-2: #feebea;
  --rvr-hot-pink: #e62e5f;
  --rvr-hot-pink-lite-1: tint($notify-color-base, 10%);
  --rvr-hot-pink-lite-2: tint($notify-color-base, 50%);
  --rvr-yellow: #f8ca00;
  --rvr-yellow-lite-2: #fef8d3;
  --rvr-gray: #414c52;
  --rvr-gray-lite-1: #58666e;
  --rvr-gray-lite-2: #8a99a2;
  --rvr-gray-lite-3: #c3cbcf;
  --rvr-gray-lite-4: #dee5e7;
  --rvr-gray-lite-5: #edf1f2;
  --rvr-gray-lite-6: #f6f8f8;

  /* Link */
  --rvr-color-link: var(--rvr-blue);
  --rvr-color-link-active: var(--rvr-blue);

  /* Semantic */

  /* Neutral */
  --rvr-color-neutral: var(--rvr-gray-lite-1);
  --rvr-bg-color-neutral: var(--rvr-gray-lite-6);

  /* Danger */
  --rvr-color-danger: var(--rvr-salmon);
  --rvr-bg-color-danger: var(--rvr-salmon-lite-2);

  /* Warning */
  --rvr-color-warning: var(--rvr-yellow);
  --rvr-bg-color-warning: var(--rvr-yellow-lite-2);

  /* Success */
  --rvr-color-success: var(--rvr-green);
  --rvr-bg-color-success: var(--rvr-green-lite-2);

  /* Info */
  --rvr-color-info: var(--rvr-blue);
  --rvr-bg-color-info: var(--rvr-blue-lite-2);

  /* Notify */
  --rvr-color-notify: var(--rvr-hot-pink);

  /* colors from zeplin styleguide, created by Egle */
  /* stylelint-disable comment-empty-line-before */

  /* --teal: #00837e; */
  --rvr-light-blue: #0092c2;
  --rvr-light-teal: #43bfb7;

  /* --gray-20: #ebeced; */

  /* --orange-hover: #fc5b08;
  --error: #de4543;
  --error-hover: #fa6866;
  --charting-blue-dark: #0177b2;
  --charting-teal-light: #89ebe8;
  --warning: #f8ca00;
  --charting-yellow-base: #fde568;
  --charting-red-light: #ffa2a7;
  --charting-blue-light: #65c1ea; */
  --rvr-rvr-light-blue-hover: #0ba5d6;

  /* --charting-magenta-base: #ff64c6;
  --charting-green-base: #00c68d;
  --charting-teal-base: #39dbd8;
  --charting-yellow-dark: #fdd500;
  --gray-10: #f7f7f7;
  --charting-blue-base: #0195de;
  --charting-green-light: #a1f0d7;
  --gray-60: #9aa0a5;
  --charting-red-base: #ff626b; */
  --rvr-light-teal-hover: #49d1c8;

  /* --charting-purple-base: #8575cd;
  --success-light: #e9fcf6;
  --aqua-marine: #44c0c2;
  --charting-red-dark: #cb4e55;
  --white: #fff; */
  --rvr-gray-90: #34404b;

  /* --orange: #e35207;
  --error-light: #feebea;
  --charting-teal-dark: #2dafac;
  --notification: #fc356a;
  --warning-light: #fef8d3;
  --medium-blue: #00607f;
  --charting-green-dark: #009e71; */
  --rvr-gray-80: #677078;

  /* --success: #63bf52;
  --light-sky-blue: #d2eef7;
  --charting-magenta-dark: #cb509e;
  --charting-purple-dark: #6b5da3;
  --charting-yellow-light: #fdf5d0;
  --charting-magenta-light: #ffa4de;
  --teal-hover: #00a19b;
  --info-light: #e3f6fc;
  --gray-40: #cccfd2;
  --charting-purple-light: #b5ade1;
  --medium-blue-hover: #007499;
  --aqua-marine-two: #47cacc; */
  /* stylelint-enable comment-empty-line-before */
}
