:root {
  --white: #fff;
  --black: #000;
  --brandColor: #3398db;
  --blue: var(--brandColor);
  --blue-lite-1: #50a7e0;
  --blue-lite-2: #e8f8fc;
  --green: #63bf52;
  --green-lite-1: #69cc58;
  --green-lite-2: #e9fcf6;
  --teal: #44c0c2;
  --teal-lite-1: #47cacc;
  --salmon: #f76764;
  --salmon-lite-2: #feebea;
  --hotPink: #e62e5f;
  --hotPink-lite-1: tint($notify-color-base, 10%);
  --hotPink-lite-2: tint($notify-color-base, 50%);
  --yellow: #f8ca00;
  --yellow-lite-2: #fef8d3;
  --gray: #414c52;
  --gray-lite-1: #58666e;
  --gray-lite-2: #8a99a2;
  --gray-lite-3: #c3cbcf;
  --gray-lite-4: #dee5e7;
  --gray-lite-5: #edf1f2;
  --gray-lite-6: #f6f8f8;

  /* Semantic */

  /* Neutral */
  --fontColor-neutral: var(--gray-lite-1);
  --bgColor-neutral: var(--gray-lite-6);

  /* Danger */
  --color-danger: var(--salmon);
  --bgColor-danger: var(--salmon-lite-2);

  /* Warning */
  --color-warning: var(--yellow);
  --bgColor-warning: var(--yellow-lite-2);

  /* Success */
  --color-success: var(--green);
  --bgColor-success: var(--green-lite-2);

  /* Info */
  --color-info: var(--blue);
  --bgColor-info: var(--blue-lite-2);

  /* Notify */
  --color-notify: var(--hotPink);
}
