:root {
  --rvr-baseSize: 8px;

  /* BORDERS */
  --rvr-border-width-base: 1px;
  --rvr-border-width-md: var(--rvr-border-width-base);

  /* SPACING */
  --rvr-space-xs: calc(var(--rvr-baseSize) / 2);   /* 4px */
  --rvr-space-sm: calc(var(--rvr-baseSize));       /* 8px */
  --rvr-space-md: calc(var(--rvr-baseSize) * 1.5); /* 12px */
  --rvr-space-lg: calc(var(--rvr-baseSize) * 2);   /* 16px */
  --rvr-space-xl: calc(var(--rvr-baseSize) * 3);   /* 24px */

  /* BORDERED SPACING */
  --rvr-space-bordered-xs: calc(var(--rvr-space-xs) - var(--rvr-border-width-md));
  --rvr-space-bordered-sm: calc(var(--rvr-space-sm) - var(--rvr-border-width-md));
  --rvr-space-bordered-md: calc(var(--rvr-space-md) - var(--rvr-border-width-md));
  --rvr-space-bordered-lg: calc(var(--rvr-space-lg) - var(--rvr-border-width-md));
  --rvr-space-bordered-xl: calc(var(--rvr-space-xl) - var(--rvr-border-width-md));

  /* TYPE */

  /* font-size */
  --rvr-font-size-base: 14px;
  --rvr-font-size-h1: 42px;
  --rvr-font-size-h2: 30px;
  --rvr-font-size-h3: 25px;
  --rvr-font-size-h4: 16px;
  --rvr-font-size-md: 14px;
  --rvr-font-size-sm: 12px;

  /* line-height */
  --rvr-line-height-sm: calc(var(--rvr-baseSize) * 2);    /* 16px */
  --rvr-line-height-md: calc(var(--rvr-baseSize) * 2.5);  /* 20px */
}
