:root {
  --rvr-baseSize: 8px;

  /* BORDERS */
  --rvr-border-width-base: 1px;
  --rvr-border-width-md: var(--rvr-border-width-base);

  /* SPACING */
  --rvr-space-xs: calc(var(--rvr-baseSize) / 2); /* 4px */
  --rvr-space-sm: calc(var(--rvr-baseSize)); /* 8px */
  --rvr-space-md: calc(var(--rvr-baseSize) * 1.5); /* 12px */
  --rvr-space-lg: calc(var(--rvr-baseSize) * 2); /* 16px */
  --rvr-space-xl: calc(var(--rvr-baseSize) * 3); /* 24px */

  /* BORDERED SPACING */
  --rvr-space-bordered-xs:
    calc(
      var(--rvr-space-xs) - var(--rvr-border-width-md)
    );
  --rvr-space-bordered-sm:
    calc(
      var(--rvr-space-sm) - var(--rvr-border-width-md)
    );
  --rvr-space-bordered-md:
    calc(
      var(--rvr-space-md) - var(--rvr-border-width-md)
    );
  --rvr-space-bordered-lg:
    calc(
      var(--rvr-space-lg) - var(--rvr-border-width-md)
    );
  --rvr-space-bordered-xl:
    calc(
      var(--rvr-space-xl) - var(--rvr-border-width-md)
    );

  /* TYPOGRAPHY */

  /* font-size */
  --rvr-font-size-base: 14px;
  --rvr-font-size-sm: 12px;
  --rvr-font-size-md: 14px;
  --rvr-font-size-lg: 16px;
  --rvr-font-size-xl: 25px;
  --rvr-font-size-2xl: 30px;
  --rvr-font-size-3xl: 42px;

  /* font-weight */
  --rvr-font-weight-bold: 700;
  --rvr-font-weight-normal: 400;

  /* line-height */
  --rvr-line-height-sm: calc(var(--rvr-baseSize) * 2); /* 16px */
  --rvr-line-height-md: calc(var(--rvr-baseSize) * 2.5); /* 20px */
  --rvr-line-height-lg: calc(var(--rvr-baseSize) * 3); /* 24px */

  /* Tooltip */
  --rvr-tooltip-arrow-size: 6px;
  --rvr-tooltip-border-size: 1px;
  --rvr-tooltip-box-shadow:
    0 1px 2px 0 rgba(0, 0, 0, 0.2),
    0 5px 10px 0 rgba(0, 0, 0, 0.1);
  --rvr-tooltip-base-z-index: 900;
  --rvr-tooltip-border-radius: 3px;
  --rvr-tooltip-offset: 20px;

  /* Form elements */
  --rvr-checkbox-size: calc(var(--rvr-baseSize * 2.25)); /* 18px */

  /* Dropdowns */
  /* Default EasyDropdown menu item with text label */
  --rvr-dropdown-menu-item-height: calc(var(--rvr-line-height-sm) + 2 * var(--rvr-space-sm));
  /* Dropdown menu max height includes a half-row as a scrolling hint */
  --rvr-dropdown-menu-max-rows-sm: 5.5;
  --rvr-dropdown-menu-max-rows-md: 10.5;
}
