.SideTray {
  background-color: var(--rvr-white);
  position: absolute;
  transition: transform 0.3s var(--rvr-slideout);
  overflow: auto;
  z-index: var(--rvr-zindex-sidetray);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(0, 0, 0);
}

.wrapper {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
}

.container {
  width: 100%;
  height: 100%;
  position: fixed;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

.backdrop {
  visibility: visible;
  border: none;
  user-select: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  z-index: var(--rvr-zindex-sidetray-backdrop);
  background-color: rgba(0, 0, 0, 0.3);
  overflow: auto;
  opacity: 10;
  transition: opacity 150ms var(--rvr-easeInOutQuad);
}

.backdrop:hover {
  cursor: unset;
}

.body {
  flex: 1 1 auto;
  overflow-y: scroll;
  min-height: 0;
}

.header {
  padding: 12px;
  border-bottom: 1px solid var(--rvr-gray-lite-5);
  flex: 0 0 auto;
  min-height: 0;
}

.footer {
  padding: 12px;
  border-top: 1px solid var(--rvr-gray-lite-5);
  flex: 0 0 auto;
  min-height: 0;
}
