.InputTime {
  box-sizing: border-box;
  position: relative;
  display: inline-flex;
  flex-flow: row nowrap;
  padding: 0;
}

.InputTime * {
  box-sizing: border-box;
}

.Input.Input {
  background: transparent;
  border-width: 0;
  box-shadow: none;
  height: calc(var(--rvr-line-height-lg) + 2 * var(--rvr-space-bordered-sm));
  flex: 1 1 auto;
  min-width: 0;
}

.addons {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-right: var(--rvr-border-width-md);
}

.icon {
  margin-right: var(--rvr-space-bordered-sm);
  color: var(--rvr-btn-color-text);
}

.icon:not(:last-child) {
  margin-right: 0;
}

.disabledIcon {
  color: var(--rvr-gray-40);
}
