.InputTime {
  position: relative;
  display: inline-block;
  padding: 0;
}

.Input.Input {
  background: transparent;
  border-width: 0;
  box-shadow: none;
  height: calc(var(--rvr-line-height-lg) + 2 * var(--rvr-space-bordered-sm));
}

.with1Addon {
  padding-right: 38px;
}

.with2Addons {
  padding-right: 56px;
}

.addons {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-right: var(--rvr-border-width-md);
}

.icon {
  margin-right: var(--rvr-space-bordered-sm);
  color: var(--rvr-btn-color-text);
}

.icon:not(:last-child) {
  margin-right: 0;
}
