.Avatar {
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--rvr-color-primary);
  background-position: center;
  background-size: cover;
}

.loading {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: imagePlaceholderShimmer;
  animation-timing-function: linear;
  background: linear-gradient(to right, var(--rvr-color-primary) 2%, var(--rvr-blue-lite-1) 18%, var(--rvr-color-primary) 33%);
  background-size: 1200px 10px;
  position: relative;
}

.disabled {
  background-color: var(--rvr-white);
  opacity: 0.7;
}

.disabledNoImage {
  opacity: 1;
  background-color: var(--rvr-gray-40);
}

.AvatarBadge {
  position: absolute;
  bottom: 0;
  right: 0;
}

@keyframes imagePlaceholderShimmer {
  0% {
    background-position: -400px 0;
  }

  100% {
    background-position: 400px 0;
  }
}

a .Avatar {
  text-decoration: none;
}
