.wrapper {
  position: relative;
  display: inline-block;
}

.original {
  position: relative;
}

.Tooltip {
  backface-visibility: hidden;
  border-radius: var(--rvr-tooltip-border-radius);
  box-shadow: var(--rvr-tooltip-box-shadow);
  box-sizing: border-box;
  font-size: 14px;
  position: absolute;

  /* transform: translate3d(0, 0, 0); */
  transition: opacity 0.3s ease, transform 0.3s ease;
  will-change: opacity, transform;
  max-width: 100vw;
  z-index: var(--rvr-tooltip-base-z-index);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.open {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

.tooltipInnerWrapper {
  background: var(--rvr-white);
  border-radius: var(--rvr-tooltip-border-radius);
  padding: 8px;
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.textContent {
  text-align: center;
  white-space: nowrap;
  word-wrap: none;
}

.tooltipClose {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--rvr-gray-lite-2);
  margin: 5px;
  padding: 0;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 51;
}

.Tooltip::before,
.Tooltip::after {
  pointer-events: none;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  position: absolute;
}

.Tooltip::before {
  border-color: transparent;
  border-width:
    calc(
      var(--rvr-tooltip-arrow-size) + var(--rvr-tooltip-border-size)
    );
  filter: blur(2px);
  z-index: -1;
}

.Tooltip::after {
  border-color: transparent;
  border-width: var(--rvr-tooltip-arrow-size);
  z-index: 2;
}

.Tooltip.bottom {
  left: 50%;
  top: calc(100% + var(--rvr-tooltip-offset));
  transform: translateX(-50%);
}

.Tooltip.bottom::before,
.Tooltip.bottom::after {
  bottom: 100%;
  left: 50%;
  margin-left: calc(var(--rvr-tooltip-arrow-size) * -1);
}

.Tooltip.bottom::before {
  border-bottom-color: rgba(0, 0, 0, 0.1);
  transform: translateX(-10%);
}

.Tooltip.bottom::after {
  border-bottom-color: var(--rvr-white);
}

.Tooltip.top {
  left: 50%;
  bottom: calc(100% + var(--rvr-tooltip-offset));
  transform: translateX(-50%);
}

.Tooltip.top::before,
.Tooltip.top::after {
  top: 100%;
  left: 50%;
  margin-left: calc(var(--rvr-tooltip-arrow-size) * -1);
}

.Tooltip.top::before {
  border-top-color: rgba(0, 0, 0, 0.1);
}

.Tooltip.top::after {
  border-top-color: var(--rvr-white);
}

.Tooltip.left {
  top: 50%;
  right: calc(100% + var(--rvr-tooltip-offset));
}

.Tooltip.left::before,
.Tooltip.left::after {
  top: 50%;
  left: 100%;
  margin-left: calc(var(--rvr-tooltip-arrow-size));
  transform: translate(calc(var(--rvr-tooltip-arrow-size) * -1), -48%);
}

.Tooltip.left::before {
  border-left-color: rgba(0, 0, 0, 0.1);
}

.Tooltip.left::after {
  border-left-color: var(--rvr-white);
}

.Tooltip.right {
  top: 50%;
  left: calc(100% + var(--rvr-tooltip-offset));
}

.Tooltip.right::before,
.Tooltip.right::after {
  top: 50%;
  right: 100%;
  margin-right: calc(var(--rvr-tooltip-arrow-size));
  transform: translate(var(--rvr-tooltip-arrow-size), -50%);
}

.Tooltip.right::before {
  border-right-color: rgba(0, 0, 0, 0.1);
}

.Tooltip.right::after {
  border-right-color: var(--rvr-white);
}
