.Callout {
  border-radius: 2px;
  box-sizing: border-box;
  display: flex;
  padding: 20px;
  position: relative;
  background-color: var(--rvr-color-info-lite);
  border-bottom-color: var(--rvr-color-info);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: var(--rvr-color-font);
}

.success {
  background-color: var(--rvr-color-success-lite);
  border-bottom-color: var(--rvr-color-success);
}

.danger {
  background-color: var(--rvr-color-danger-lite);
  border-bottom-color: var(--rvr-color-danger);
}

.warning {
  background-color: var(--rvr-color-warning-lite);
  border-bottom-color: var(--rvr-color-warning);
}

.borderless {
  box-shadow: none;
  border-bottom-width: 0;
}

.compact {
  padding: 10px;
}

.cancelable {
  padding-right: 60px;
}

.cancelButton {
  background: transparent;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
}

.compact .cancelButton {
  top: 10px;
  right: 10px;
}
