.Item {
  color: var(--rvr-gray-lite-1);
  font-weight: normal;
  padding: 0;
  margin: 0 12px;
  display: block;
  border-bottom: 2px solid transparent;
  box-sizing: content-box;
}

.Item:first-of-type {
  margin-left: 0;
}

.Item:last-of-type {
  margin-right: 0;
}

.Item:hover {
  color: var(--rvr-gray);
  cursor: pointer;
}

.active {
  color: var(--rvr-gray-90);
  font-weight: 800;
  border-bottom-color: var(--rvr-blue);
}
