.Addon {
  flex: 0 0 auto;
  align-self: center;
}

.sm {
  margin-inline-start: var(--rvr-space-sm);
  margin-inline-end: var(--rvr-space-sm);
}

.md {
  margin-inline-start: var(--rvr-space-md);
  margin-inline-end: var(--rvr-space-md);
}

.lg {
  margin-inline-start: var(--rvr-space-lg);
  margin-inline-end: var(--rvr-space-lg);
}

.Addon:first-child {
  margin-inline-start: 0;
}

.Addon:last-child {
  margin-inline-end: 0;
}

.Addon + .Addon {
  margin-inline-start: 0;
}
