.Toggle {
  display: flex;
  width: 48px;
  height: 24px;
  background: #cccfd2;
  border-radius: 24px;
}

.input {
  position: sticky;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
  border-radius: 24px;
}

.notch {
  pointer-events: none;
  position: absolute;
  width: 16px;
  height: 16px;
  margin: 4px;
  border-radius: 8px;
  background: white;
  transition: all 0.1s ease-in-out;
  box-shadow: 0px 0px 3px 2px rgb(0 0 0 / 20%);
}

.checked {
  background: #0092c2;
}

.disabled {
  opacity: 0.5;
}

.disabled > input.input {
  cursor: not-allowed;
}

.disabled > span.notch {
  box-shadow: none;
}

.checked > span.notch {
  transform: translateX(24px);
}
