.Item {
  text-align: left;
  display: block;
  width: 100%;
  border-radius: 0;
}

.button:hover:not(.disabled),
.button:active:not(.disabled) {
  background-color: var(--rvr-gray-10);
}

.content {
  cursor: default;
}
